<div class="mt-root-item">
    <div class="title title_font"><span class="title-text">Produits populaires</span></div>
</div>
<ul class="menu-items col-xs-12">
    {% for produit in produitsPopulaires %}
        {% if produit.allprix %}
        {% set prixReduction = 0 %}
        {% set prixReduction = produit.allprix - (produit.allprix * produit.reduction/100) %}
                                
    <li class="menu-item depth-1 product menucol-1-3 withimage">
        <div class="product-item">
            <div class="item-inner">
                <div class="product-thumb has-hover-img">
                    <figure> 
                        <center> 
                        <a href="{{ path('product', {'id' : produit.id}) }}"><img src="{{ produit.picture.AssetPath|imagine_filter('produitAllThumb') }}" alt=""></a>
                        <a class="hover-img" href="{{ path('product', {'id' : produit.id}) }}"><img src="{{ produit.picture.AssetPath2|imagine_filter('produitAllThumb') }}" alt=""></a> 
                        </center>
                    </figure>
                </div>
                <div class="item-info">
                    <div class="info-inner">
                        <div class="item-title"> <a title="{{ produit.produit1.nom|capitalize }} - {{ produit.libelle.libelle|capitalize }}" href="{{ path('product', {'id' : produit.id}) }}">{{ produit.produit1.nom|capitalize }} - {{ produit.libelle.libelle|capitalize }}</a> </div>
                        <div class="item-content">
                            <div class="item-price">
                                {% if produit.reduction == 0 %}
                                    <div class="price-box"> <span class="regular-price"> <span class="price">{{ prixReduction|number_format(2) }} €</span> </span> </div>
                                {% else %}
                                <div class="price-box">
                                    <p class="special-price"> <span class="price-label">Special Price</span> <span class="price">{{ prixReduction|number_format(2) }} €</span> </p>
                                    <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price">{{ produit.allprix|number_format(2) }} €</span> </p>
                                </div>
                                {% endif %}
                            </div>
                            <center>
                                <div class="language-currency-wrapper left">
                                    <div class="inner-cl">
                                        <div class="block block-language form-language ">
                                          <div class="myaccount">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="{{ path('espace_marque', {'id' : produit.id}) }}" title="Aller à la marque {{ produit.produit1.marque.marque|capitalize }}"><img src="{{ produit.produit1.marque.image.AssetPath|imagine_filter('marqueLogoThumb') }}" alt="">&nbsp;&nbsp;&nbsp;<span class="hidden-xs"> {{ produit.produit1.marque.marque|capitalize }}</span></a></div>
                                            <ul>
                                                <li>
                                                    <strong><a title="Voir tous les produits de la marque {{ produit.produit1.marque.marque|capitalize }}" href="{{ path('espace_marque', {'id' : produit.id}) }}"><span class="hidden-xs">{{ produit.produit1.marque.marque|capitalize }}</span></a></strong>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </center>
                            <div class="pro-action">
                                <a href="{{ path('product', {'id' : produit.id}) }}" title="Voir détails sur le produit {{ produit.produit1.nom|capitalize }} - {{ produit.libelle.libelle|capitalize }}">
                                    <button type="button" class="add-to-cart-mt"> <i class="fa fa-eye"></i><span> Voir details</span> </button>
                                </a>                                                                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>


