<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on"  data-title="Intro Slide">
    <!-- MAIN IMAGE -->
    <img src="{{ asset('images/slider/slide1.jpg') }}"  alt="" data-lazyload="{{ asset('images/slider/slide1.jpg') }}" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-caption small_text lft tp-resizeme rs-parallaxlevel-0"
         data-x="700"
         data-y="245"
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="1200"
         data-easing="Power3.easeInOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap; font-size:24px; font-weight:500; color:#fff; background-color:#f4a137; padding:15px 25px;"><span>Une nouvelle vision de la mode</span></div>

    <!-- LAYER NR. 2 -->
    <div class="tp-caption finewide_medium_white lfl tp-resizeme rs-parallaxlevel-0"
         data-x="700"
         data-y="315"
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="1800"
         data-easing="Power3.easeInOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap; font-size:2.5vw; font-weight:700; color:#222;"><span>Commandez sur<br> mesure vos modèles<br>personnalisés ou les<br>modèles du site</span></div>

    <!-- LAYER NR. 3 -->
    <div class="tp-caption small_text customin tp-resizeme rs-parallaxlevel-0"
         data-x="0"
         data-y="440"
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="2000"
         data-easing="Power3.easeInOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
        <p class="line hidden-xs"></p>
    </div>

</li>

<!-- SLIDE  -->
<li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on"  data-title="Parallax 3D">
    <!-- MAIN IMAGE -->
    <img src="{{ asset('images/slider/slide2.jpg') }}"  alt="" data-lazyload="{{ asset('images/slider/slide2.jpg') }}" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-caption finewide_medium_white lft tp-resizeme rs-parallaxlevel-0 center-align"
         data-x="380"
         data-y="360"
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="1200"
         data-easing="Power3.easeInOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap; font-size:50px; font-weight:700; color:#252525;"><span>Payez avec votre carte<br>votre mobile ou à la livraison</span> </div>

    <!-- LAYER NR. 3 -->
    <div class="tp-caption small_text lfr tp-resizeme rs-parallaxlevel-0"
         data-x="440"
         data-y="510"
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="2000"
         data-easing="Power3.easeInOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;font-size:22px; font-weight:500; color:#fff;"><center><span>Et faites-vous livrer<br>sans frais supplémentaires<br>partout dans le monde</span></center> </div>
</li>

<!-- SLIDE  -->
<li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on"  data-title="Parallax 3D">
    <!-- MAIN IMAGE -->
    <img src="{{ asset('images/slider/slide3.jpg') }}"  alt="" data-lazyload="{{ asset('images/slider/slide3.jpg') }}" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-caption finewide_medium_white lft tp-resizeme rs-parallaxlevel-0 center-align"
         data-x="394"
         data-y="360"
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="1200"
         data-easing="Power3.easeInOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         style="z-index: 8; max-width: auto; max-height: auto;
         white-space: nowrap; font-size:50px; font-weight:700;
         color:#f4a137;"><span>The New made in Africa</span> </div>

    <!-- LAYER NR. 3 -->
    <div class="tp-caption small_text lfr tp-resizeme rs-parallaxlevel-0"
         data-x="440"
         data-y="510"
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="2000"
         data-easing="Power3.easeInOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;font-size:22px; font-weight:500; color:#fff;"><center><span>Une production prête à porter<br>de qualité 100% africaine</span></center> </div>
</li>
