<div>
        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            {% endif %} 
                        </ul>
                        <ul>
                            {% if app.request.hasPreviousSession %}
                                {% for type, messages in app.session.flashbag.all() %}
                                    {% for message in messages %}
                                        <div class="flash-{{ type }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li class="home"> <a title="Aller à la page d'accueil" href="{{ path ('kountac_homepage')}}">Home</a><span>&raquo;</span></li>
                        <li><strong>Mes souhaits</strong></li>
                    </ul>
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert-box">
                            <br>
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs End --> 
    <!-- Main Container -->
    <section class="main-container col2-right-layout">
        <div class="main container">
            <div class="row">
                <div class="col-main col-sm-9 col-xs-12">
                    <div class="my-account">
                        <div class="page-title">
                            {% if produits|length != 0 %}
                                <h2>Mes souhaits</h2>
                            {% endif %}
                        </div>
                        {% if produits|length == 0 %}
                            <div>
                                <table>
                                    <tr>
                                        <td><center><h1>Liste de souhaits vide !! Aucun produits</h1></center></td>
                                    </tr>
                                </table>
                                <br>
                                <button class="button"> <a class="continue-btn" href="{{ path('kountac_homepage') }}"><i class="fa fa-arrow-left"> </i>&nbsp; Voir les produits</a> </button>
                            </div>  
                        {% else %}
                        <div class="wishlist-item table-responsive">
                            <table class="col-md-12">
                                <thead>
                                    <tr>
                                        <th class="th-product">Retirez</th>
                                        <th class="th-product">Images</th>
                                        <th class="th-details">Nom du produit</th>
                                        <th class="th-price">P U (€)</th>
                                        <th class="th-total th-add-to-cart">Ajout panier</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for produit in produits %}
                                    {% if produit.produit2.allprix %}
                                        {% set prixReduction = 0 %}
                                        {% set prixReduction = produit.produit2.allprix - (produit.produit2.allprix * produit.produit2.reduction/100) %}
                                    <tr>
                                        <td class="th-delate"><a href="{{ path('supprimerwishlist', { 'id' : produit.id }) }}"><i class="fa fa-trash-o"></i></a></td>
                                        <td class="th-product">
                                            {% for image in images %}
                                                {% if image.produit2 == produit.produit2 and image.top == 0 %}
                                                    <img src="{{ image.AssetPath|imagine_filter('cartThumbItem') }}" alt="">
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td class="th-details"><h2><a href="{{ path('product', {'id' : produit.produit2.id}) }}">{{ produit.produit2.produit1.nom|capitalize }} - {{ produit.produit2.libelle.libelle|capitalize }}</a></h2>
                                            <small><a><u>Description</u> : {{ produit.produit2.produit1.description|capitalize|truncate(100, false, ' ...') }}</a></small><br>
                                            <small><a><u>Matière</u> : {{ produit.produit2.produit1.matiere|capitalize }}</a></small><br>
                                            
                                        </td>
                                        <td class="th-price">
                                        {% if produit.produit2.reduction == 0 %}
                                            <div class="price-box"> <span class="regular-price"> <span class="price">{{ prixReduction|number_format(2) }} €</span> </span> </div>
                                        {% else %}
                                            <div class="price-box">
                                                <p class="special-price"> <span class="price-label">Special Price</span> <span class="price">{{ prixReduction|number_format(2) }} €</span> </p>
                                                <br><br><p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price">{{ produit.produit2.allprix|number_format(2) }} €</span> </p>
                                            </div>
                                        {% endif %}
                                        </td>
                                        <th class="td-add-to-cart"><a href="{{ path('ajoutpanier', {'id' : produit.id}) }}"> Ajouter</a></th>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                            <a href="{{ path('ajoutToutpanier') }}" class="all-cart">Tout ajouter dans mon panier</a> </div>
                        {% endif %}
                    </div>
                </div>
                <aside class="right sidebar col-sm-3 col-xs-12">
                    <div class="sidebar-account block">
                        <div class="sidebar-bar-title">

                        </div>

                    </div>
                {% render(controller('KountacBundle:Compare:compareAside')) %}
                </aside>
            </div>
        </div>
    </section>