<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Aller à la page d'accueil" href="{{ path('kountac_homepage')}}">Accueil</a><span>&raquo;</span></li>
                    <li class="home"> <a title="Aller à mon profil" href="{{ path('fos_user_profile_show')}}">Mon profil</a><span>&raquo;</span></li>
                    <li><strong>Ajout des mesures</strong></li>
                </ul>
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert-box">
                        <br><br>
                        {{ flashMessage }}
                        <br><br>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End --> 
{% trans_default_domain 'FOSUserBundle' %}
<!-- Main Container -->
<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-9 col-xs-12">
                <div class="col-main">
                    <div class="cart">
                        <div class="page-content page-order">
                            <div class="page-title">
                                <h2>Entrer vos mesures &nbsp;&nbsp;{% if user.sexe %}Mme.{% else %}M.{% endif %} {{ user.prenom|capitalize }} {{ user.nom|capitalize }}</h2>
                            </div>
                    <form action="{{ path('mesures_new') }}" method="POST" {{ form_enctype(form_mesure) }} class="col">
                            {{ form_start(form_mesure) }}
                            {{ form_errors(form_mesure) }}
                            <div class="order-detail-content">
                                <div class="box-border">
                                    <ul>
                                        <li class="row">
                                            <div class="col-sm-6">
                                                {{ form_row(form_mesure.titulaire) }}
                                            </div><!--/ [col] -->
                                            <div class="col-sm-6">
                                                {{ form_row(form_mesure.genre) }}
                                            </div><!--/ [col] -->
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.poitrine) }}
                                            </div><!--/ [col] -->
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.hauteur_poitrine) }}
                                            </div><!--/ [col] -->
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.demi_ecart_poitrine) }}
                                            </div><!--/ [col] -->
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.hauteur_taille_terre) }}
                                            </div><!--/ [col] -->
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.hauteur_taille_cote_terre) }}
                                            </div>
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.demi_tour_encolure) }}
                                            </div><!--/ [col] -->
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.demi_carrure_dos) }}
                                            </div><!--/ [col] -->
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.demi_carrure_devant) }}
                                            </div><!--/ [col] -->
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.seins) }}
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.bassin) }}
                                            </div><!--/ [col] -->
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.enfourchure) }}
                                            </div><!--/ [col] -->
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.taille) }}
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.epauletaille) }}
                                            </div><!--/ [col] -->
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.longueur) }}
                                            </div><!--/ [col] -->
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.taille_dos) }}
                                            </div><!--/ [col] -->
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.taille_devant) }}
                                            </div><!--/ [col] -->
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.longueur_epaule) }}
                                            </div><!--/ [col] -->
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.tour_emmanchure) }}
                                            </div><!--/ [col] -->
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.hauteur_dessous_bras) }}
                                            </div><!--/ [col] -->
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.longueur_bras) }}
                                            </div><!--/ [col] -->
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.grosseur_bras) }}
                                            </div><!--/ [col] -->
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.hauteur_coude) }}
                                            </div><!--/ [col] -->
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.tour_poignet) }}
                                            </div><!--/ [col] -->
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.hauteur_taille_hanche) }}
                                            </div><!--/ [col] -->
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.hauteur_montant) }}
                                            </div><!--/ [col] -->
                                           <div class="col-sm-4">
                                                {{ form_row(form_mesure.epaules) }}
                                            </div><!--/ [col] -->
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.hauteur_taille_genou) }}
                                            </div><!--/ [col] -->
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.tour_petites_hanches) }}
                                            </div><!--/ [col] -->
                                            <div class="col-sm-4">
                                                {{ form_row(form_mesure.tour_grandes_hanches) }}
                                            </div><!--/ [col] -->
                                        </li>
                                    </ul>
                                </div>
                                <div class="cart_navigation"> 
                                    <br>
                                    <div>
                                        <button type="submit" class="button"><i class="fa fa-check"></i>&nbsp; Ajouter</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form_mesure) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="right sidebar col-sm-3 col-xs-12">
                {% include 'FOSUserBundle:Profile:Navigation/menu.html.twig' %}
                <br><br>
                {% include 'FOSUserBundle:Profile:Navigation/informations.html.twig' %}
            </aside>
        </div>
    </div>
</section>

