

{# app/Resources/views/Emails/registration.html.twig #}

        
        <h2>Bienvenue chez Kountac</h2> <br>

        <div>
            Bonjour <b>{{ name }}</b>. <br><br>
            Pour valider votre compte utilisateur, cliquez sur le lien ci-après 
            <a href="https://www.kountac.fr/register/confirm/{{ confirmUrl }}">ICI</a> <br><br>

            Ce lien ne peut être utilisé qu'une seule fois pour valider votre compte.<br><br>
            
            Vous disposez du code promo <h5> {{ codePromo }} </h5> de <h5>-{{ reduction }}%</h5> valide pendant <h5>{{ validite }} jours (jusqu'au {{ expirationDate|date('d/m/Y') }} )</h5> sur votre premier achat. <br><br>
            
            Dépéchez vous et profitez de ce code <br><br>
            
            Cordialement,<br>
            L'équipe Kountac.
        </div>