<div>
        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            {% endif %}
                        </ul>
                        <ul>
                            {% if app.request.hasPreviousSession %}
                                {% for type, messages in app.session.flashbag.all() %}
                                    {% for message in messages %}
                                        <div class="flash-{{ type }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <!-- Breadcrumbs -->

    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li class="home"> <a title="Aller à la page d'accueil" href="{{ path ('kountac_homepage')}}">Home</a><span>&raquo;</span></li>
                        <li><strong>Mes comparaisons</strong></li>
                    </ul>
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert-box">
                            <br>
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs End -->
    <!-- Main Container -->

    <section class="main-container col1-layout">
        <div class="main container">
            <div class="col-main">
                <div class="compare-list">
                    <div class="page-title">
                        {% if produits|length != 0 %}
                            <h2>Comparaison</h2>
                            <br>
                        {% endif %}
                    </div>
                    {% if produits|length == 0 %}
                            <div>
                                <table>
                                    <tr>
                                        <td><center><h1>Aucun produits à comparer</h1></center></td>
                                    </tr>
                                </table>
                                <br>
                                <button class="button"> <a class="continue-btn" href="{{ path('kountac_homepage') }}"><i class="fa fa-arrow-left"> </i>&nbsp; Voir les produits</a> </button>
                            </div>
                    {% else %}
                    <div class="table-responsive">

                        <table class="table table-bordered table-compare">
                            <thead>
                                <tr>
                                    <th>Aperçu</th>
                                    <th>Nom du produit</th>
                                    <th>Prix Unitaire</th>
                                    <th>Description</th>
                                    <th>Taille</th>
                                    <th>Matière</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for produit in produits %}
                                {% if produit.produit2.cfaprix %}
                                    {% set prixReduction = 0 %}
                                    {% set prixReduction = produit.produit2.cfaprix - (produit.produit2.cfaprix * produit.produit2.reduction/100) %}
                            <tr>
                                <td class="small compare-label">
                                    <a href="{{ path('product', {'id' : produit.produit2.id}) }}">
                                        {% for image in images %}
                                            {% if image.produit2 == produit.produit2 and image.top == 0 %}
                                                <img src="{{ image.AssetPath|imagine_filter('compareThumbItem') }}" alt="" height="120">
                                            {% endif %}
                                        {% endfor %}
                                    </a>
                                </td>
                                <td class="small compare-label"><a href="{{ path('product', {'id' : produit.produit2.id}) }}">{{ produit.produit2.produit1.nom|capitalize }}</a></td>
                                <td class="small th-price compare-label">
                                {% if produit.produit2.reduction == 0 %}
                                    <div class="price-box"> <span class="regular-price"> <span class="price">{{ prixReduction|number_format(2) }} F CFA</span> </span> </div>
                                {% else %}
                                    <div class="price-box">
                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price">{{ prixReduction|number_format(2) }} F CFA</span> </p>
                                        <br><br><p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price">{{ produit.produit2.cfaprix|number_format(2) }} F CFA</span> </p>
                                    </div>
                                {% endif %}
                                </td>
                                <td class="small compare-label">{{ produit.produit2.produit1.description|capitalize|truncate(100, false, ' ...') }}</td>
                                <td class="small compare-label">{{ produit.taille|upper }}</td>
                                <td class="small compare-label">{{ produit.produit2.produit1.matiere|capitalize }}</td>
                                <td class="small compare-label action" style="width:210px;">
                                    <a title="Ajouter au panier" href="{{ path('ajoutpanier', {'id' : produit.id}) }}">
                                        <button class="add-cart button button-sm"><i class="fa fa-shopping-cart"></i></button>
                                    </a>
                                    <a title="Ajouter à vos souhaits" href="{{ path('ajoutwishlist', {'id' : produit.id}) }}">
                                        <button class="button button-sm"><i class="fa fa-heart"></i></button>
                                    </a>
                                    <a title="Commander sur mesure, prix commande: {{ produit.produit2.cfaprixCommande|number_format(2) }} F CFA" href="{{ path('commande_mesures_new_item', {'id' : produit.id}) }}">
                                        <button class="button button-sm"><i class="fa fa-pencil"></i></button>
                                    </a>
                                    <a title="Retirez {{ produit.produit2.produit1.nom|capitalize }} parmi les comparaisons" href="{{ path('supprimercompare', { 'id' : produit.id }) }}">
                                        <button class="button button-sm jtv-extra-link"><i class="fa fa-close"></i></button>
                                    </a>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}

                            </tbody>
                        </table>

                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
