<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic page needs -->
<meta charset="utf-8">
<!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <![endif]-->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Kountac professionnel</title>
<meta name="description" content="">

<!-- Mobile specific metas  -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Favicon  -->
<link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>

<!-- CSS Style -->

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="{{ asset('pro/css/bootstrap.min.css') }}">

<!-- font-awesome & simple line icons CSS -->
<link rel="stylesheet" type="text/css" href="{{ asset('pro/css/font-awesome.css') }}" media="all">
<link rel="stylesheet" type="text/css" href="{{ asset('pro/css/simple-line-icons.css') }}" media="all">

<!-- owl.carousel CSS -->
<link rel="stylesheet" type="text/css" href="{{ asset('pro/css/owl.carousel.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('pro/css/owl.theme.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('pro/css/owl.transitions.css') }}">

<!-- animate CSS  -->
<link rel="stylesheet" type="text/css" href="{{ asset('pro/css/animate.css') }}" media="all">

<!-- flexslider CSS -->
<link rel="stylesheet" type="text/css" href="{{ asset('pro/css/flexslider.css') }}" >

<!-- jquery-ui.min CSS  -->
<link rel="stylesheet" type="text/css" href="{{ asset('pro/css/jquery-ui.css') }}">

<!-- Revolution Slider CSS -->
<link href="{{ asset('pro/css/revolution-slider.css') }}" rel="stylesheet">

<!-- style CSS -->
<link rel="stylesheet" type="text/css" href="{{ asset('pro/css/style.css') }}" media="all">
<!-- chat CSS -->
<link rel="stylesheet" href="{{ asset('chat/chat.css') }}" type="text/css">
</head>

<body class="cms-index-index cms-home-page">

<!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]--> 

<!-- mobile menu -->
<div id="mobile-menu">
  <ul>
    {% render(controller('KountacBundle:Menu:categorieMobile')) %}
  </ul>
</div>
<!-- end mobile menu -->
<div id="page"> 

  
  <!-- Header -->
  <header>
    <div class="header-container">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <!-- top links -->
            {% render(controller('KountacBundle:Menu:headerLink')) %}
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-3 col-xs-12"> 
            <!-- Header Logo -->
            <div class="logo"><a title="Kountac" href="{{ path('kountac_homepage') }}"><img alt="e-commerce" src="{{ asset('images/logo.png') }}" height=50></a> </div>
            <!-- End Header Logo --> 
          </div>
            <br>
          <div class="col-xs-9 col-sm-6 col-md-6"> 
            <!-- Search -->
            
            {% render(controller('KountacBundle:Produit:recherche')) %}
            
            <!-- End Search --> 
          </div>
          <!-- top cart -->
          <div class="col-lg-2 col-xs-3 top-cart">
           
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end header --> 
  
  <!-- Navbar -->
  <nav>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4">
          <div class="mm-toggle-wrap">
            <div class="mm-toggle"> <i class="fa fa-align-justify"></i> </div>
            <span class="mm-label">Catégories</span> </div>
          <div class="mega-container visible-lg visible-md visible-sm">
            <div class="navleft-container">
              <div class="mega-menu-category">
                <ul class="nav">
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-sm-8 hidden-xs">
          <div class="mtmegamenu">
            <ul>
              {% render(controller('KountacBundle:Menu:categorie')) %}
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- end nav --> 
  {% block body %}{% endblock %}

  <!-- Footer -->
  <div class="jtv-service-area">
    <div class="container">
      </div>
    </div>
  <footer>
    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-7">
              {% render(controller('KountacBundle:Menu:newsletterFooter')) %}
          </div>
          <div class="social col-md-4 col-sm-5">
            <ul class="inline-mode">
              <li class="social-network fb"><a title="Connect us on Facebook" target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
              <li class="social-network googleplus"><a title="Connect us on Google+" target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
              <li class="social-network tw"><a title="Connect us on Twitter" target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
              <li class="social-network linkedin"><a title="Connect us on Linkedin" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-linkedin"></i></a></li>
              <li class="social-network rss"><a title="Connect us on Instagram" target="_blank" href="https://instagram.com/"><i class="fa fa-rss"></i></a></li>
              <li class="social-network instagram"><a title="Connect us on Instagram" target="_blank" href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3">
         {% render(controller('KountacBundle:Menu:contactUsFooter')) %}
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
          {% render(controller('KountacBundle:Menu:informationFooter')) %}
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
          {% render(controller('KountacBundle:Menu:insiderFooter')) %}
        </div>
        <div class="col-sm-6 col-md-2 col-xs-12 col-lg-3 collapsed-block">
          {% render(controller('KountacBundle:Menu:menuCollectionFooter')) %}
        </div>
      </div>
    </div>
    <div class="footer-coppyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12 coppyright"> Copyright © {{ "now"|date('Y') }} <a href="#">Kountac </a>. Tous Droits Reservés. </div>
          <div class="col-sm-6 col-xs-12">
            <div class="payment">
              <ul>
                <li><a href="#"><img title="Visa" alt="Visa" src="images/visa.png"></a></li>
                <li><a href="#"><img title="Paypal" alt="Paypal" src="images/paypal.png"></a></li>
                <li><a href="#"><img title="Discover" alt="Discover" src="images/discover.png"></a></li>
                <li><a href="#"><img title="Master Card" alt="Master Card" src="images/master-card.png"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a href="#" class="totop"> </a>
  
   <!-- End Footer --> 
    </div>
{% block javascripts %}

<!-- JS --> 

<!-- jquery js --> 
<script type="text/javascript" src="{{ asset('pro/js/jquery.min.js') }}"></script> 

<!--chat js -->  
<script type="text/javascript" src="{{ asset('chat/jquery-ajax.js') }}"></script>
<!--chat js -->  
<script type="text/javascript" src="{{ asset('chat/script.js') }}"></script>

<!-- bootstrap js --> 
<script type="text/javascript" src="{{ asset('pro/js/bootstrap.min.js') }}"></script> 

<!-- owl.carousel.min js --> 
<script type="text/javascript" src="{{ asset('pro/js/owl.carousel.min.js') }}"></script> 

<!-- bxslider js --> 
<script type="text/javascript" src="{{ asset('pro/js/jquery.bxslider.js') }}"></script> 

<!-- Slider Js --> 
<script type="text/javascript" src="{{ asset('pro/js/revolution-slider.js') }}"></script> 

<!-- megamenu js --> 
<script type="text/javascript" src="{{ asset('pro/js/megamenu.js') }}"></script> 
<script type="text/javascript">
  /* <![CDATA[ */   
  var mega_menu = '0';
  
  /* ]]> */
  </script> 

<!-- jquery.mobile-menu js --> 
<script type="text/javascript" src="{{ asset('pro/js/mobile-menu.js') }}"></script> 

<!--jquery-ui.min js --> 
<script type="text/javascript" src="{{ asset('pro/js/jquery-ui.js') }}"></script> 

<!-- main js --> 
<script type="text/javascript" src="{{ asset('pro/js/main.js') }}"></script> 

<!-- countdown js --> 
<script type="text/javascript" src="{{ asset('pro/js/countdown.js') }}"></script> 

<!-- Revolution Slider --> 
<script type="text/javascript">
          jQuery(document).ready(function() {
                 jQuery('.tp-banner').revolution(
                  {
                      delay:9000,
                      startwidth:1920,
                      startheight:790,
                      hideThumbs:10,

                      navigationType:"bullet",							
                      navigationStyle:"preview1",

                      hideArrowsOnMobile:"on",
                      
                      touchenabled:"on",
                      onHoverStop:"on",
                      spinner:"spinner4"
                  });
          });
</script> 

<!-- Hot Deals Timer 1--> 
<script type="text/javascript">
      var dthen1 = new Date("12/25/16 11:59:00 PM");
      start = "08/04/15 03:02:11 AM";
      start_date = Date.parse(start);
      var dnow1 = new Date(start_date);
      if(CountStepper>0)
          ddiff= new Date((dnow1)-(dthen1));
      else
          ddiff = new Date((dthen1)-(dnow1));
      gsecs1 = Math.floor(ddiff.valueOf()/1000);
      
      var iid1 = "countbox_1";
      CountBack_slider(gsecs1,"countbox_1", 1);
  </script>
  {% endblock %}
</body>

<!-- Mirrored from htmlmystore.justthemevalley.com/Version4/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 23 Aug 2017 11:36:10 GMT -->
</html>
