<div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Aller à la page d'accueil" href="{{ path('kountac_homepage')}}">Accueil</a><span>&raquo;</span></li>
            <li class="home"> <a title="Aller à mon profil" href="{{ path('fos_user_profile_show')}}">Mon profil</a><span>&raquo;</span></li>
            <li><strong>Mes réservations</strong></li>
          </ul>
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert-box">
                <br><br>
                {{ flashMessage }}
                <br><br>
            </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
{% trans_default_domain 'FOSUserBundle' %}
<!-- Main Container -->
<section class="main-container col2-right-layout">
  <div class="main container">
    <div class="row">
      <div class="col-main col-sm-9 col-xs-12">
        <div class="col-main">
                <div class="cart">
                        <div class="page-content page-order"><div class="page-title">
                            {% if reservations|length != 0 %}
                                <h2>Liste de toutes vos réservations &nbsp;&nbsp;{% if user.sexe %}Mme.{% else %}M.{% endif %} {{ user.prenom|capitalize }} {{ user.nom|capitalize }}</h2>
                            {% endif %}
                        </div>

                        <div class="order-detail-content">
                        {% if reservations|length == 0 %}
                            <div>
                                <table>
                                    <tr>
                                        <td><center><h1>Liste de réservations vide !! Aucune réservation à afficher</h1></center></td>
                                    </tr>
                                </table>
                                <div class="cart_navigation"> <a class="continue-btn" href="{{ path('kountac_homepage') }}"><i class="fa fa-arrow-left"> </i>&nbsp; Réserver un produit</a> </div>
                            </div>  
                        {% else %}
                            <div class="table-responsive">
                                <table class="table table-bordered cart_summary">
                                    <thead>
                                        <tr>
                                            <th class="cart_product">Aperçu</th>
                                            <th>Description du produit</th>
                                            <th>Date de réservation</th>
                                            <th>Etat</th>
                                            <th  class="action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for reservation in reservations %}
                                            {% if reservation.produit.produit2.nairaprix %}
                                            <tr>
                                                <td class="cart_product"><img src="{{ reservation.produit.produit2.picture.AssetPath|imagine_filter('cartThumbItem') }}" alt=""></td>
                                                <td class="cart_description"><p class="product-name"><a>{{ reservation.produit.produit2.produit1.nom|capitalize }} - {{ reservation.produit.produit2.libelle.libelle|capitalize }}</a></p><br>
                                                    <small><a><u>Description</u> : {{ reservation.produit.produit2.produit1.description|capitalize|truncate(50, false, ' ...') }}.</a></small><br>
                                                    {% if reservation.produit.produit2.nairaprix %}
                                                        <small><a><u>Prix</u> : {{ reservation.produit.produit2.nairaprix|number_format(2) }} ₦</a></small><br>
                                                    {% endif %} 
                                                    <small><a><u>Catégorie</u> : {{ reservation.produit.produit2.produit1.categorie|capitalize }}</a></small><br>
                                                </td>
                                                <td class="action">
                                                    {{ reservation.date|date('d M Y') }}
                                                </td>
                                                {% if reservation.produit.stock >= 1  %}
                                                    <td class="availability in-stock">
                                                        <span class="label">{{ ('Disponible')|upper }}</span>
                                                    </td>
                                                {% else %}
                                                    <td class="availability out-of-stock">
                                                        <span class="label">{{ ('Stock épuisé')|upper }}</span>
                                                    </td>
                                                {% endif %}
                                                <td class="action">
                                                    {% if reservation.produit.stock >= 1  %}
                                                        <a title="Ajouter à votre panier" href="{{ path('ajoutpanier', {'id' : reservation.produit.id}) }}"><i class="fa fa-shopping-cart"></i></a>
                                                    {% endif %}
                                                        {% if reservation.produit.produit2.nairaprixCommande %}
                                                            <br><a title="Commander sur mesure ce produit, prix commande: {{ reservation.produit.produit2.nairaprixCommande|number_format(2) }} ₦ " href="{{ path('commande_mesures_new_item', {'id' : reservation.produit.id}) }}"><i class="fa fa-pencil"></i></a>
                                                        {% endif %}
                                                    <br><br><a title="Retirer réservation de votre liste" href="{{ path('reserve_delete', { 'id' : reservation.id }) }}"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="cart_navigation"> <a class="continue-btn" href="{{ path('kountac_homepage') }}"><i class="fa fa-check"> </i>&nbsp; Réserver un nouveau produit</a></div>
                        <div class="pagination-area ">
                        </div>
                            <center>
                                {{ knp_pagination_render(reservations) }}
                            </center>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <aside class="right sidebar col-sm-3 col-xs-12">
        {% include 'FOSUserBundle:Profile:Navigation/menu.html.twig' %}
        <br><br>
        {% include 'FOSUserBundle:Profile:Navigation/informations.html.twig' %}
      </aside>
    </div>
  </div>
  </section>
