{% set totalPanier = 0 %}
{% set totalPanier2 = 0 %}
<div class="top-cart-contain">
    <div class="mini-cart">
        {% if produits|length == 0 and commandes|length == 0 %}
        <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> <a href>
                <div class="cart-icon"><img src="{{ 'css/panier.png'|imagine_filter('PanierLogo') }}" alt=""></div>
                <div class="shoppingcart-inner hidden-xs hidden-sm">PANIER VIDE</div>
            </a></div>
        <div class="top-cart-content">
                <div class="block-subtitle hidden-xs"> Aucun produit dans le panier</div>
                 
            </div>
        {% else %}
            <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> <a href>
                <div class="cart-icon"><img src="{{ 'css/panier.png'|imagine_filter('PanierLogo') }}" alt=""></div>
                <div class="shoppingcart-inner hidden-xs hidden-sm"><span class="cart-title">Mon panier</span> <span class="cart-total">{{ produits|length }} Produit(s) {% if is_granted('IS_AUTHENTICATED_FULLY') %} <br>{{ commandes|length }} Commande(s){% endif %}</span></div>
            </a></div>
        <div>
            <div class="top-cart-content">
                <div class="block-subtitle hidden-xs"></div>
                <ul id="cart-sidebar" class="mini-products-list">
                    {% for produit in produits %}
                        {% if produit.produit2.usaprix %}
                        {% set prixReduction = 0 %}
                        {% set prixReduction = produit.produit2.usaprix - (produit.produit2.usaprix * produit.produit2.reduction/100) %}

                    <li class="item last odd"> 
                        <a href="{{ path('product', {'id' : produit.produit2.id}) }}" title="{{ produit.produit2.produit1.nom|capitalize }} - {{ produit.produit2.libelle.libelle|capitalize }}" class="product-image">
                            <img src="{{ produit.produit2.picture.AssetPath|imagine_filter('cartThumbMenuItem') }}" alt="">
                        </a>
                        <div class="product-details"> <a title="Retirer {{ produit.produit2.produit1.nom|capitalize }} - {{ produit.produit2.libelle.libelle|capitalize }} de votre panier" href="{{ path('supprimerpanier', { 'id' : produit.id }) }}" class="remove-cart"><i class="icon-close"></i></a>
                            <p class="product-name"><a href="{{ path('product', {'id' : produit.id}) }}">{{ produit.produit2.produit1.nom|capitalize }} - {{ produit.produit2.libelle.libelle|capitalize }}</a> </p>
                            {{ produit.produit2.produit1.description|capitalize|truncate(50, false, ' ...') }}<br>
                            <strong>{{ panier[produit.id] }}</strong> x <span class="price">{{ prixReduction|number_format(2) }} $</span> </div>
                    </li>
                        {% set totalPanier = totalPanier + (prixReduction * panier[produit.id]) %}
                        {% endif %}
                    {% endfor %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% for commande in commandes %}
                        {% if commande.produit.usaprixCommande %}
                        {% set prixReduction2 = commande.produit.usaprixCommande %}

                    <li class="item last odd"> 
                        <a href="{{ path('product', {'id' : commande.produit.id}) }}" title="{{ commande.produit.produit1.nom|capitalize }} - {{ commande.produit.libelle.libelle|capitalize }}" class="product-image">
                            <img src="{{ commande.produit.picture.AssetPath|imagine_filter('cartThumbMenuItem') }}" alt="">
                        </a>
                        <div class="product-details"> <a title="Retirer {{ commande.produit.produit1.nom|capitalize }} - {{ commande.produit.libelle.libelle|capitalize }} de votre panier" href="{{ path('commande_delete_item', { 'id' : commande.id }) }}" class="remove-cart"><i class="icon-close"></i></a>
                            <p class="product-name"><a href="{{ path('product', {'id' : commande.produit.id}) }}">{{ commande.produit.produit1.nom|capitalize }} - {{ commande.produit.libelle.libelle|capitalize }} (Commande)</a> </p>
                            {{ commande.contenu|capitalize|truncate(50, false, ' ...') }}<br>
                            <span class="price">{{ prixReduction2|number_format(2) }} $</span> </div>
                    </li>
                        {% set totalPanier2 = totalPanier2 + prixReduction2 %}
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                </ul>
                <div class="top-subtotal">Total: <span class="price">{{ (totalPanier + totalPanier2)|number_format(2) }} $</span></div>
                <div class="actions">
                    <a title="Finaliser votre commande" href="{{ path('Checkout_index1') }}">
                        <button class="btn-checkout" type="button"><i class="fa fa-check"></i><span>Finaliser</span></button>
                    </a>
                    <a title="Aller à mon panier pour plus de détail" href="{{ path('panier') }}">
                        <button class="view-cart" type="button"><i class="fa fa-shopping-cart"></i> <span>Mon panier</span></button>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
