{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <!-- Breadcrumbs -->

    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li class="home"> <a title="Aller à l'accueil" href="{{ path ('kountac_homepage')}}">Accueil</a><span>&raquo;</span></li>
                        <li class="home"> <a title="Aller à mon panier" href="{{ path ('panier')}}">Mon panier</a><span>&raquo;</span></li>
                        <li class="home"> <a title="Paramètres adresse de facturation" href="{{ path ('Checkout_index1')}}">Adresse de facturation</a><span>&raquo;</span></li>
                        <li class="home"> <a title="Service de livraison" href="{{ path ('Checkout_index2')}}">Service de livraison</a><span>&raquo;</span></li>
                        <li><strong>Service de paiement</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs End --> 

    <!-- Main Container -->
    <section class="main-container col2-right-layout">
        <div class="main container">
            <div class="row">
                <div class="col-main col-sm-9 col-xs-12">


                    <div class="page-content checkout-page"><div class="page-title">
                            <h2>Finalisation de la commande (2/2)</h2>
                        </div>
                        <h4 class="checkout-sep"></h4>
                        <!--h4 class="checkout-sep">1. Information de livraison (adresse de livraison)</h4>
                        <div class="box-border">
                            <ul>
                                <li class="row">
                                    <div class="col-sm-6">
                                        <label><u>Nom(s)</u> :</label>
                                                {{ user.nom|upper }}
                                    </div>
                                    <div class="col-sm-6">
                                        <label><u>Prénom(s)</u> :</label>
                                                {{ user.prenom|upper }}
                                    </div>
                                </li>
                                <li class="row"> 
                                    <div class="col-sm-6">
                                        <label><u>E-mail</u> :</label>
                                                {{ user.email }}
                                    </div>
                                    <div class="col-sm-6">
                                        <label><u>Adresse</u> :</label>
                                                {{ user.adresse|upper }}
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-sm-6">
                                        <label><u>Rue</u> :</label>
                                                {{ user.rue|upper }}
                                    </div>
                                    <div class="col-sm-6">
                                        <label><u>Ville</u> :</label>
                                                {{ user.ville|upper }}
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-sm-6">
                                        <label><u>Code postal</u> :</label>
                                                {{ user.cp|upper }}
                                    </div>
                                    <div  class="col-sm-6">
                                        <label><u>Pays</u> :</label>
                                                {{ user.pays|upper }}
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-sm-6">
                                        <label><u>Téléphone mobile</u> :</label>
                                                {{ user.telephone|capitalize }}
                                    </div>
                                    <div class="col-sm-6">
                                        <label><u>Téléphone fix</u> :</label>
                                                {{ user.telephonefix|capitalize }}
                                    </div>
                                </li>
                            </ul>
                            </form>
                        </div>
                        <br>
                        <h4 class="checkout-sep"></h4>
                        <h4 class="checkout-sep">2. Service de livraison</h4>
                        <div class="box-border">
                                <ul>
                                    <li class="row">
                                        <div class="col-sm-8">
                                            <label><u>Service de livraison</u> :</label>
                                            {% if not user.servicelivraison.nom or user.servicelivraison.nom == "Null" %}
                                                Aucun service de livraison
                                            {% else %}
                                                {{ user.servicelivraison.nom|upper }}
                                            {% endif %}
                                        </div>
                                    </li>
                                </ul>
                        </div>
                        <br>
                        <h4 class="checkout-sep"></h4-->
                        <h4 class="checkout-sep">2. Méthode de paiement</h4>
                        <div class="box-border">
                                <ul>
                                    <form class="col" action="{{ path('Checkout_index2') }}" method="POST" {{ form_enctype(form) }} class="form">
                                        {{ form_start(form) }}
                                        {{ form_errors(form) }}

                                    <li class="row">
                                        <div class="col-sm-6">
                                            {{ form_row(form.nom) }}
                                        </div>
                                        <!--div class="col-sm-6">
                                            {{ form_row(form.titulaire) }}
                                        </div-->
                                    </li>
                                    <br>
                                    <!--li class="row">
                                        <div class="col-sm-5">
                                            {{ form_row(form.numero) }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(form.numeroverification) }}
                                        </div>
                                        
                                        <div class="col-sm-2">
                                            {{ form_row(form.moisexp) }}
                                        </div>
                                        <div class="col-sm-2">
                                            {{ form_row(form.anneeexp) }}
                                        </div>
                                    </li-->
                                    <button class="button pull-right" type="submit"><i class="fa fa-angle-double-right"></i>&nbsp; <span>Continuer</span></button>
                                        {{ form_end(form) }}
                                    </form>
                                    <a href="{{ path('Checkout_index1') }}"><button class="button pull-left" type="submit"><i class="fa fa-angle-double-left"></i>&nbsp; <span>Précédent</span></button></a>
                                </ul>
                        </div>                
                                        
                    </div>
                </div>
                <aside class="right sidebar col-sm-3 col-xs-12">
                    {% include 'UtilisateursBundle:Checkout:resumeCheckout/resumeCheckout.html.twig' %}
                </aside>
            </div>
        </div>
    </section>
    <!-- Main Container End -->

{% endblock fos_user_content %}