<div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Aller à la page d'accueil" href="{{ path('kountac_homepage')}}">Accueilt</a><span>&raquo;</span></li>
            <li><strong>Enregistrement compte</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
 {% trans_default_domain 'FOSUserBundle' %}
<!-- Main Container -->
<section class="main-container col2-right-layout">
  <div class="main container">
    <div class="row">
      <div class="col-main col-sm-9 col-xs-12">
 
        
        <div class="page-content checkout-page"><div class="page-title">
          <h2 class="checkout-step">Inscription sur Kountac</h2>
        </div>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        
            <div class="box-border">
                <ul>
                    <li class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-3">{{ form_row(form.sexe.0) }}</div>
                                <div class="col-sm-3">{{ form_row(form.sexe.1) }}</div>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-sm-6">
                            {{ form_row(form.nom) }}
                        </div><!--/ [col] -->
                        <div class="col-sm-6">
                            {{ form_row(form.prenom) }}
                        </div><!--/ [col] -->
                    </li>
                    <li class="row">
                        <div class="col-sm-6">
                            <label class="required">Image de profil (facultatif)</label>
                            {{ form_widget(form.image.file) }}
                        </div>
                        <div class="col-sm-6">
                            <label class="required">Image de couverture (facultatif)</label>
                            {{ form_widget(form.image.file2) }}
                        </div><!--/ [col] -->
                    </li>
                    <li class="row">

                        <div  class="col-sm-6">
                            {{ form_row(form.pays) }}
                        </div><!--/ [col] -->

                        <div class="col-sm-6">
                            {{ form_row(form.ville) }}
                        </div>
                    </li>
                    
                    <!--li class="row">

                        <div class="col-sm-6">
                            {{ form_row(form.digicode) }}
                        </div>
                    </li-->

                    <li class="row">
                        <div class="col-sm-6">
                            {{ form_row(form.cp) }}
                        </div><!--/ [col] -->
                        
                        <div class="col-sm-6">
                            {{ form_row(form.codeparrain) }}
                        </div><!--/ [col] -->

                    </li>

                    <li class="row"> 
                        <div class="col-xs-6">
                            {{ form_row(form.adresse) }}
                        </div><!--/ [col] -->

                        <div class="col-sm-6">
                           {{ form_row(form.rue) }}
                        </div><!--/ [col] -->

                    </li><!-- / .row -->
                    
                    <li class="row">
                        <div class="col-sm-6">
                            {{ form_row(form.telephone) }}
                        </div><!--/ [col] -->

                        <div  class="col-sm-6">
                            {{ form_row(form.telephonefix) }}
                        </div><!--/ [col] -->
                    </li>

                    <br><br>
                    <div class="page-title">
                      <h2 class="checkout-step">Espace Utilisateur *</h2>
                    </div>
                    
                    <li class="row">
                        <div class="col-sm-6">
                            {{ form_row(form.username) }}
                        </div>

                        <div class="col-sm-6">
                            {{ form_row(form.email) }}
                        </div>
                    </li>

                    <li class="row">
                        <div class="col-sm-6">
                            {{ form_row(form.plainPassword.first) }}
                        </div><!--/ [col] -->

                        <div class="col-sm-6">
                            {{ form_row(form.plainPassword.second) }}
                        </div><!--/ [col] -->
                    </li><!--/ .row -->
                    <br>
                    <li class="row">
                        <div class="col-sm-12">
                            <input type="checkbox" id="condition" required name="">
                            <label for="condition"> En continuant vous acceptez les politiques et <a href="#">conditions d'utilisations</a>.</label>
                        </div>
                    </li>
                    <li>
                        <button class="button" type="submit"><i class="icon-login"></i>&nbsp; <span>{{ 'registration.submit'|trans }}</span></button>
                    </li>
                </ul>
            </div>
    {{ form_widget(form) }}
  {{ form_end(form) }}
        </div>
      </div>
      <aside class="right sidebar col-sm-3 col-xs-12">
        <div class="sidebar-checkout block">
         <div class="sidebar-bar-title">
              <h3>Vous êtes une marque ?</h3>
            </div>
                 <div class="block-content">
            <dl>
              <h5> Créez votre compte pro en quelques minutes !<br><br> <a href="{{ path('pro_user_register') }}"><u>Inscription marques</u></a> </h5>
              
        </div>
            </div>
        </aside>
    </div>
  </div>
  </section>


