<li class="mt-root">
    <div class="mt-root-item">
        <a href="#"><div class="title title_font"><span class="title-text">Idées look</span></div></a>
    </div>
    <ul class="menu-items col-xs-12">
        {% for look in looks %}
        <li class="menu-item depth-1 menucol-1-3 ">
            <div class="title title_font"><a href="">{{ look.nom }}</a></div>
            <ul class="submenu">
                
            </ul>
        </li>
        {% endfor %}
    </ul>
</li>

{% for categorie in categories %}
    <li class="mt-root">
        <div class="mt-root-item">
            <a href="{{ path('categorie_1', { 'categorie' : categorie.id}) }}"><div class="title title_font"><span class="title-text">{{ categorie.nom }}</span></div></a>
        </div>
        <ul class="menu-items col-xs-12">
            {% for souscategorie in categorie.children %}
            <li class="menu-item depth-1 menucol-1-3 ">
                <div class="title title_font"><a href="{{ path('categorie_2', { 'categorie' : souscategorie.id}) }}">{{ souscategorie.nom }}</a></div>
                <ul class="submenu">
                    {% for souscategorie2 in souscategorie.children %}
                        <li class="menu-item">
                            <div class="title"> <a href="{{ path('categorie_2', { 'categorie' : souscategorie2.id}) }}"> {{ souscategorie2.nom }} </a></div>
                        </li>
                    {% endfor %}
                    <li class="menu-item">
                        <div class="title"> <a href="{{ path('new_categorie', { 'categorie' : souscategorie.id}) }}"> Nouveautés </a></div>
                    </li>
                    <li class="menu-item">
                        <div class="title"> <a href="{{ path('best_categorie', { 'categorie' : souscategorie.id}) }}"> Déstockages </a></div>
                    </li>
                </ul>
            </li>
            {% endfor %}
          </ul>
    </li>
{% endfor %}
<li class="mt-root">
    <div class="mt-root-item">
        <a href=""><div class="title title_font"><span class="title-text">Sur mesure</span></div></a>
    </div>
    <ul class="menu-items col-xs-12">
        <li class="menu-item depth-1 menucol-1-3 ">
            <div class="title title_font"><a href="{{ path('femmes_surmesure') }}">Femmes</a></div>
            <ul class="submenu">
                <li class="menu-item">
                    <div class="title"> <a href="{{ path('femmes_surmesureHauts') }}"> Hauts </a></div>
                </li>
                <li class="menu-item">
                    <div class="title"> <a href="{{ path('femmes_surmesureBas') }}"> Bas </a></div>
                </li>
                <li class="menu-item">
                    <div class="title"> <a href="{{ path('femmes_surmesureEnsembles') }}"> Ensembles </a></div>
                </li>
            </ul>
        </li>
        <li class="menu-item depth-1 menucol-1-3 ">
            <div class="title title_font"><a href="{{ path('hommes_surmesure') }}">Hommes</a></div>
            <ul class="submenu">
                <li class="menu-item">
                    <div class="title"> <a href="{{ path('hommes_surmesureHauts') }}"> Hauts </a></div>
                </li>
                <li class="menu-item">
                    <div class="title"> <a href="{{ path('hommes_surmesureBas') }}"> Bas </a></div>
                </li>
                <li class="menu-item">
                    <div class="title"> <a href="{{ path('hommes_surmesureEnsembles') }}"> Ensembles </a></div>
                </li>
            </ul>
        </li>
        <li class="menu-item depth-1 menucol-1-3 ">
            <div class="title title_font"><a href="{{ path('enfants_surmesure') }}">Enfants</a></div>
            <ul class="submenu">
                <li class="menu-item">
                    <div class="title"> <a href="{{ path('enfants_surmesureHauts') }}"> Hauts </a></div>
                </li>
                <li class="menu-item">
                    <div class="title"> <a href="{{ path('enfants_surmesureBas') }}"> Bas </a></div>
                </li>
                <li class="menu-item">
                    <div class="title"> <a href="{{ path('enfants_surmesureEnsembles') }}"> Ensembles </a></div>
                </li>
            </ul>
        </li>
      </ul>
</li>

<li class="mt-root">
    <div class="mt-root-item">
        <a href=""><div class="title title_font"><span class="title-text">Déstockages</span></div></a>
    </div>
    <ul class="menu-items col-xs-12">
        <li class="menu-item depth-1 menucol-1-3 ">
            <div class="title title_font"><a href="{{ path('femmes_destockage') }}">Femmes</a></div>
            <ul class="submenu">
                <li class="menu-item">
                    <div class="title"> <a href="{{ path('femmes_destockageHauts') }}"> Hauts </a></div>
                </li>
                <li class="menu-item">
                    <div class="title"> <a href="{{ path('femmes_destockageBas') }}"> Bas </a></div>
                </li>
                <li class="menu-item">
                    <div class="title"> <a href="{{ path('femmes_destockageEnsembles') }}"> Ensembles </a></div>
                </li>
            </ul>
        </li>
        <li class="menu-item depth-1 menucol-1-3 ">
            <div class="title title_font"><a href="{{ path('hommes_destockage') }}">Hommes</a></div>
            <ul class="submenu">
                <li class="menu-item">
                    <div class="title"> <a href="{{ path('hommes_destockageHauts') }}"> Hauts </a></div>
                </li>
                <li class="menu-item">
                    <div class="title"> <a href="{{ path('hommes_destockageBas') }}"> Bas </a></div>
                </li>
                <li class="menu-item">
                    <div class="title"> <a href="{{ path('hommes_destockageEnsembles') }}"> Ensembles </a></div>
                </li>
            </ul>
        </li>
        <li class="menu-item depth-1 menucol-1-3 ">
            <div class="title title_font"><a href="{{ path('enfants_destockage') }}">Enfants</a></div>
            <ul class="submenu">
                <li class="menu-item">
                    <div class="title"> <a href="{{ path('enfants_destockageHauts') }}"> Hauts </a></div>
                </li>
                <li class="menu-item">
                    <div class="title"> <a href="{{ path('enfants_destockageBas') }}"> Bas </a></div>
                </li>
                <li class="menu-item">
                    <div class="title"> <a href="{{ path('enfants_destockageEnsembles') }}"> Ensembles </a></div>
                </li>
            </ul>
        </li>
      </ul>
</li>