<li><a href="">Idées look</a>
<ul>
    {% for look in looks %}
    <li><a href="">{{ look.nom }}</a>
      <ul>
          
      </ul>
    </li>
    {% endfor %}
</ul>
</li>
{% for categorie in categories %}
<li><a href="{{ path('categorie_1', { 'categorie' : categorie.id}) }}">{{ categorie.nom }}</a>
<ul>
    {% for souscategorie in categorie.children %}
    <li><a href="{{ path('categorie_2', { 'categorie' : souscategorie.id}) }}">{{ souscategorie.nom }}</a>
      <ul>
          {% for souscategorie2 in souscategorie.children %}
          <li> <a href="{{ path('categorie_2', { 'categorie' : souscategorie2.id}) }}"> {{ souscategorie2.nom }} </a> </li>
          {% endfor %}
          <li> <a href="{{ path('new_categorie', { 'categorie' : souscategorie.id}) }}"> Nouveautés </a> </li>
          <li> <a href="{{ path('best_categorie', { 'categorie' : souscategorie.id}) }}"> Déstockages </a> </li>
      </ul>
    </li>
    {% endfor %}
</ul>
</li>
{% endfor %}
<li><a href="">Sur mesure</a>
<ul>
    <li><a href="">Femmes</a>
      <ul>
          <li> <a href=""> Hauts </a> </li>
          <li> <a href=""> Bas </a> </li>
          <li> <a href=""> Ensembles </a> </li>
      </ul>
    </li>
    <li><a href="">Hommes</a>
      <ul>
          <li> <a href=""> Hauts </a> </li>
          <li> <a href=""> Bas </a> </li>
          <li> <a href=""> Ensembles </a> </li>
      </ul>
    </li>
    <li><a href="">Enfants</a>
      <ul>
          <li> <a href=""> Hauts </a> </li>
          <li> <a href=""> Bas </a> </li>
          <li> <a href=""> Ensembles </a> </li>
      </ul>
    </li>
</ul>
</li>
<li><a href="">Déstockages</a>
<ul>
    <li><a href="{{ path('femmes_destockage') }}">Femmes</a>
      <ul>
          <li> <a href="{{ path('femmes_destockageHauts') }}"> Hauts </a> </li>
          <li> <a href="{{ path('femmes_destockageBas') }}"> Bas </a> </li>
          <li> <a href="{{ path('femmes_destockageEnsembles') }}"> Ensembles </a> </li>
      </ul>
    </li>
    <li><a href="{{ path('hommes_destockage') }}">Hommes</a>
      <ul>
          <li> <a href="{{ path('femmes_destockageHauts') }}"> Hauts </a> </li>
          <li> <a href="{{ path('hommes_destockageBas') }}"> Bas </a> </li>
          <li> <a href="{{ path('hommes_destockageEnsembles') }}"> Ensembles </a> </li>
      </ul>
    </li>
    <li><a href="{{ path('enfants_destockage') }}">Enfants</a>
      <ul>
          <li> <a href="{{ path('enfants_destockageHauts') }}"> Hauts </a> </li>
          <li> <a href="{{ path('enfants_destockageBas') }}"> Bas </a> </li>
          <li> <a href="{{ path('enfants_destockageEnsembles') }}"> Ensembles </a> </li>
      </ul>
    </li>
</ul>
</li>