<h3 class="hidden-sm">S'inscrire à la newsletter</h3>
<form id="newsletter-validate-detail" method="POST" action="{{ path('kountac_newsletter') }}">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="newsletter-inner">
        {{ form_widget(form.email) }}<br>
        <button class="button subscribe" type="submit" title="S'abonner à la newsletter OrNoir">S'abonner</button>
    </div>
    {{ form_end(form) }}
</form>