{% extends "@FOSUser/layoutPro.html.twig" %}

{% block fos_user_content %}
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Aller à la page d'accueil" href="{{ path('kountac_homepage')}}">Home</a><span>&raquo;</span></li>
                    <li class="home"> <a title="Aller à mon profil professionnel" href="{{ path('pro_user_profile_show')}}">Mon profil</a><span>&raquo;</span></li>
                    <li class="home"> <a title="Voir tous mes produits" href="{{ path('produit_pro_index')}}">Mes produits</a><span>&raquo;</span></li>
                    <li class="home"> <a title="Ajouter un nouveau produit" href="{{ path('produit_pro_new_1')}}">Nouveau produit</a><span>&raquo;</span></li>
                    <li class="home"> <a title="Ajouter un nouveau motif" href="{{ path('produit_pro_new_2', { 'id' : produit_2.produit1.id }) }}">Nouveau motif</a><span>&raquo;</span></li>
                    <li><strong>Modifications photos de mannequins pour "{{ produit_2.produit1.nom|capitalize }}"</strong></li>
                </ul>

                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert-box">
                        <br><br>
                        {{ flashMessage }}
                        <br><br>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End --> 
{% trans_default_domain 'FOSUserBundle' %}
<!-- Main Container -->
<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-12 col-xs-12">  
                <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                    <li class="active"><a>Modifications des photos de mannequin</a> </li>
                </ul>
                <br><br>
            </div>
            <div class="col-sm-9">
                <div class="page-content checkout-page">
                    <ul id="product-detail-tab" class="nav nav-tabs product-tabs btn-md">
                        {% for motif in produit_1.produit2 %}
                            {% if image.produit2 == motif %}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-default btn-md active" href="#{{ motif.libelle }}" data-toggle="tab">&nbsp; {{ motif.libelle.libelle|capitalize }} &nbsp;</a> 
                            {% else %}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-default btn-md" href="#{{ motif.libelle }}" data-toggle="tab">&nbsp; {{ motif.libelle.libelle|capitalize }} &nbsp;</a> 
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div id="productTabContent" class="tab-content">
                        {% for motif in produit_1.produit2 %}
                            {% if image.produit2 == motif %}
                                <div class="tab-pane fade in active" id="{{ motif.libelle }}">
                                    <div class="col-main col-sm-6 col-xs-12">
                                        <div class="page-title">
                                            <h3 class="checkout-step">Selectionner les nouvelles images du mannequin </h3>
                                        </div>
                                        {% render(controller('UtilisateursBundle:Formulaires:images_editForm', { 'id': image.id })) %}
                                    </div>
                                    <div class="col-main col-sm-6 col-xs-12">
                                        <li class="row">
                                            <div class="col-sm-12">
                                                {% set mannequin = 0 %}
                                                <label>Mannequin disponible pour "{{ motif.libelle|capitalize }}" : 
                                                    {% for image_motif in images %}
                                                        {% if image_motif.produit2 == motif %}
                                                            {% set mannequin = mannequin + 1 %}
                                                        {% endif %}
                                                    {% endfor %}{{ mannequin }}
                                                </label>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-12">
                                                
                                                    {% for image_motif in images %}
                                                        {% if image_motif.produit2 == motif %}
                                                            <form action="{{ path('produit_pro_set_images_top_new', {'id' : image_motif.id}) }}" method="get">
                                                                <label>
                                                                    {% if image_motif.top == 0 %} <i class="glyphicon glyphicon-ok"></i> {% endif %}&nbsp;&nbsp;
                                                                    <img src="{{ image_motif.mannequin.AssetPath|imagine_filter('imagesMarquesThumb') }}" alt="">&nbsp;
                                                                    {{ image_motif.mannequin.nomMannequin|capitalize }} <small>(taille std.:{{ image_motif.mannequin.tailleStandardMannequin }}, poids: {{ image_motif.mannequin.poidsMannequin }}Kg, Taille:{{ image_motif.mannequin.tailleMannequin }}m)</small>
                                                                    &nbsp;&nbsp;<a href="{{ path('produit_pro_new_edit3', {'id' : image_motif.id}) }}" title="Modifier les informations du mannequin {{ image_motif.mannequin.nomMannequin }}"><i class="fa fa-edit"></i></a>
                                                                </label>
                                                            </form>
                                                        {% endif %}
                                                    {% endfor %}
                                                
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-6">
                                                <div class="top-cart-contain">
                                                    <div class="mini-cart">
                                                        <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> 
                                                            <a href>
                                                                <div class="cart-icon">&nbsp; Voir les mannequins</div>
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <div class="top-cart-content">
                                                                <div class="block-subtitle hidden-xs"></div>
                                                                <ul id="cart-sidebar" class="mini-products-list">
                                                                    {% for mannequin in mannequins %}
                                                                        <li class="item last odd"> 
                                                                            <a title="{{ mannequin.nomMannequin|capitalize }}" class="product-image">
                                                                                <img src="{{ mannequin.AssetPath|imagine_filter('cartThumbMenuItem') }}" alt="">
                                                                            </a>
                                                                            <div class="product-details">
                                                                                <p class="product-name">
                                                                                    <a>{{ mannequin.nomMannequin|capitalize }} (taille std.:{{ mannequin.tailleStandardMannequin }}, poids: {{ mannequin.poidsMannequin }}Kg, Taille:{{ mannequin.tailleMannequin }}m)</a> 
                                                                                </p>
                                                                            </div>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li><br>
                                    </div>
                                </div>
                            {% else %}
                                <div class="tab-pane fade" id="{{ motif.libelle }}">
                                    <div class="col-main col-sm-6 col-xs-12">
                                        <div class="page-title">
                                            <h3 class="checkout-step">Choisir un mannequin pour le motif {{ produit_2.libelle.libelle }}</h3>
                                        </div>
                                    </div>
                                    <div class="col-main col-sm-6 col-xs-12">
                                        <li class="row">
                                            <div class="col-sm-12">
                                                {% set mannequin = 0%}
                                                <label>Mannequin disponible pour "{{ motif.libelle|capitalize }}" : 
                                                    {% for image_motif in images %}
                                                        {% if image_motif.produit2 == motif %}
                                                            {% set mannequin = mannequin + 1 %}
                                                        {% endif %}
                                                    {% endfor %}{{ mannequin }}</label>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-12">
                                                    {% for image_motif in images %}
                                                        {% if image_motif.produit2 == motif %}
                                                                <label>
                                                                    {% if image_motif.top == 0 %} <i class="glyphicon glyphicon-ok"></i> {% endif %}&nbsp;&nbsp;
                                                                    <img src="{{ image_motif.mannequin.AssetPath|imagine_filter('imagesMarquesThumb') }}" alt="">&nbsp;
                                                                    {{ image_motif.mannequin.nomMannequin|capitalize }} <small>(taille std.:{{ image_motif.mannequin.tailleStandardMannequin }}, poids: {{ image_motif.mannequin.poidsMannequin }}Kg, Taille:{{ image_motif.mannequin.tailleMannequin }}m)</small>
                                                                    &nbsp;&nbsp;<a href="{{ path('produit_pro_new_edit3', {'id' : image_motif.id}) }}" title="Modifier les informations du mannequin {{ image_motif.mannequin.nomMannequin }}"><i class="fa fa-edit"></i></a>
                                                                </label>
                                                        {% endif %}
                                                    {% endfor %}
                                            </div>
                                        </li>  
                                        <li class="row">
                                            <div class="col-sm-6">
                                                <div class="top-cart-contain">
                                                    <div class="mini-cart">
                                                        <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> 
                                                            <a href>
                                                                <div class="cart-icon">&nbsp; Voir les mannequins</div>
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <div class="top-cart-content">
                                                                <div class="block-subtitle hidden-xs"></div>
                                                                <ul id="cart-sidebar" class="mini-products-list">
                                                                    {% for mannequin in mannequins %}
                                                                        <li class="item last odd"> 
                                                                            <a title="{{ mannequin.nomMannequin|capitalize }}" class="product-image">
                                                                                <img src="{{ mannequin.AssetPath|imagine_filter('cartThumbMenuItem') }}" alt="">
                                                                            </a>
                                                                            <div class="product-details">
                                                                                <p class="product-name">
                                                                                    <a>{{ mannequin.nomMannequin|capitalize }} (taille std.:{{ mannequin.tailleStandardMannequin }}, poids: {{ mannequin.poidsMannequin }}Kg, Taille:{{ mannequin.tailleMannequin }}m)</a> 
                                                                                </p>
                                                                            </div>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <br>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                    <a href="{{ path('produit_pro_new_3', { 'id' : produit_2.id }) }}">
                        <button class="button pull-right">
                            &nbsp;<span>Continuer</span>&nbsp; &nbsp;<i class="fa fa-angle-double-right"></i>
                        </button>
                    </a><br><br>
                </div>
            </div>
            <aside class="right sidebar col-sm-3 col-xs-12">
                {% include 'FOSUserBundle:Profile:Navigation/menuPro.html.twig' %}
                <br><br>
                {% include 'FOSUserBundle:Profile:Navigation/informationsPro.html.twig' %}
            </aside>

        </div> 
    </div>
</div>
</section>
{% endblock fos_user_content %}
