<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Aller à la page d'accueil" href="{{ path('kountac_homepage')}}">Accueil</a><span>&raquo;</span></li>
                    <li class="home"> <a title="Aller à mon profil" href="{{ path('fos_user_profile_show')}}">Mon profil</a><span>&raquo;</span></li>
                    <li class="home"> <a title="Modifier votre profil" href="{{ path('fos_user_profile_edit')}}">Modification du compte</a><span>&raquo;</span></li>
                    <li><strong>Changer votre mot de passe</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="main-container col1-layout">
    <div class="main container">
        {% trans_default_domain 'FOSUserBundle' %}

        <div class="page-content">
            <div class="box-authentication">
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_widget(form) }}   
                <div>
                    <button class="button" type="submit" id="_submit" name="_submit"><i class="fa fa-lock"></i>&nbsp; <span>{{ 'change_password.submit'|trans }}</span></button>
                </div>
                
                {{ form_end(form) }}
                </form>
            </div>
            <div class="box-authentication">
                <h2>Changer votre mot de passe</h2>
                <p>Entrer votre mot de passe<br> actuel, entrer le nouveau <br> et valider.</p> 											
            </div>
        </div>
    </div>
</section>