<div class="compare block">
        <div class="sidebar-bar-title">
            {% if produits|length != 0 %}
                {% if produits|length > 1 %}
                    <h3>Produits à comparer ({{ produits|length }})</h3>
                {% elseif produits|length == 1%}
                    <h3>Produit à comparer ({{ produits|length }})</h3>
                {% endif %}
            {% else %}
                <h3 class="small">Rien à comparer</h3>
            {% endif %}
        </div>
        {% if produits|length != 0 %}
        <div class="block-content">
            <ol id="compare-items">
                {% for produit in produits %}
                    {% if produit.produit2.nairaprix %}
                    <li class="item"> <a href="{{ path('supprimercompareAside', { 'id' : produit.id }) }}" title="Retirez ce produit de vos comparaisons" class="remove-cart"><i class="icon-close"></i></a> <a href="{{ path('product', {'id' : produit.produit2.id}) }}" class="product-name"><strong>{{ produit.produit2.produit1.nom|capitalize }} - {{ produit.produit2.libelle.libelle|capitalize }}</strong></a> <br>{{ produit.produit2.produit1.description|capitalize|truncate(50, false, ' ...') }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
            <div class="ajax-checkout">
                <a title="Allez à mes comparaisons" href="{{ path('compare') }}">
                    <button class="button button-compare"> <span><i class="fa fa-signal"></i> Voir</span></button>
                </a>
                <a title="Supprimez tous les produits de votre comparaison" href="{{ path('supprimercompareAll') }}">
                    <button class="button button-clear"> <span><i class="fa fa-eraser"></i> Tout retirer</span></button>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
