{% extends "::base.html.twig" %}

{% block body %}
    {% if cfa|length == 0 %}
    <div>
        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            {% endif %} 
                        </ul>
                        <ul>
                            {% if app.request.hasPreviousSession %}
                                {% for type, messages in app.session.flashbag.all() %}
                                    {% for message in messages %}
                                        <div class="flash-{{ type }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <!-- Breadcrumbs -->

    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li class="home"> <a title="Aller à la page d'accueil" href="{{ path ('kountac_homepage')}}">Accueil</a><span>&raquo;</span></li>
                        <li class="home"> <a title="Voir produits de la catéorie {{ produit.categorie|capitalize }}" href="{{ path('categorie', { 'categorie' : produit.categorie.id}) }}">{{ produit.categorie|capitalize }}</a><span>&raquo;</span></li>
                        <li><strong>{{ produit.nom|capitalize }}</strong></li>
                    </ul>
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert-box">
                            <br>
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs End --> 
    <!-- Main Container -->
    <div class="main-container col1-layout">
        <div class="container">
            <div class="row">
                <div class="col-main">
                    <div class="product-view-area">
                        {% set prixReduction = 0 %}
                        {% set prixReduction = produit.euro.prix - (produit.euro.prix * produit.reduction/100) %}

                        <div class="product-big-image col-xs-12 col-sm-5 col-lg-5 col-md-5">
                            <div class="icon-sale-label sale-left">Sale</div>
                            <div class="large-image"> <a href="{{ asset(produit.picture.AssetPath) }}" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20"> <img class="zoom-img" src="{{ produit.picture.AssetPath|imagine_filter('produitThumbDetail') }}" alt="products"> </a> </div>
                            <div class="flexslider flexslider-thumb">
                                <ul class="previews-list slides">
                                    <li><a href='{{ asset(produit.picture.AssetPath) }}' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '{{ asset(produit.picture.AssetPath) }}' "><img src="{{ asset(produit.picture.AssetPath) }}" alt = ""/></a></li>
                                            {% if produit.picture.path2 %}
                                        <li><a href='{{ asset(produit.picture.AssetPath2) }}' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '{{ asset(produit.picture.AssetPath2) }}' "><img src="{{ asset(produit.picture.AssetPath2) }}" alt = ""/></a></li>
                                            {% endif %}
                                </ul>
                            </div>
                            <!-- end: more-images --> 

                        </div>
                        <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7 product-details-area">
                            <div class="product-name">
                                <h1>{{ produit.nom|capitalize }}</h1>
                            </div>
                            {% if produit.reduction == 0 %}
                                <div class="price-box"> <span class="regular-price"> <span class="price">{{ prixReduction|number_format(2) }} €</span> </span> </div>
                            {% else %}
                                <div class="price-box">
                                    <p class="special-price"> <span class="price-label">Special Price</span> <span class="price">{{ prixReduction|number_format(2) }} €</span> </p>
                                    <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price">{{ produit.euro.prix|number_format(2) }} €</span> </p>
                                </div>
                            {% endif %}

                            <div class="short-description">
                                <h2>Description</h2>
                                <br>
                                <p> {{ produit.description|capitalize }}.</p>
                            </div>
                            <div class="product-color-size-area">
                                <div class="color-area">
                                    <h2 class="saider-bar-title">Matière</h2>
                                    <div class="color">
                                        <ul>
                                            {{ produit.matiere|capitalize }}
                                        </ul>
                                    </div>
                                </div>
                                <div class="size-area">
                                    <h2 class="saider-bar-title">Taille</h2>
                                    <div class="size">
                                        <ul>
                                            <li><a>{{ produit.taille|upper }}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="product-variation">
                                <form action="{{ path('ajoutpanier', {'id' : produit.id}) }}" method="get">
                                    <div class="cart-plus-minus">
                                        <label for="qty">Quantité:</label>
                                        <div class="numbers-row">
                                            <select name="qte" class="select form-control">
                                                {% for i in 1 .. produit.stock|abs %}
                                                    <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <button class="button pro-add-to-cart" type="submit" title="Ajouter au panier" type="button"><span><i class="fa fa-shopping-cart"></i> Ajouter au panier</span></button>
                                </form>
                            </div>
                            <div class="product-cart-option">
                                <ul>
                                    <li><a title="Réserver ce produit" href="{{ path('reserve_new', {'id' : produit.id}) }}"><i class="fa fa-save"></i><span>Reserver</span></a></li>
                                    <li><a title="Ajouter à vos souhaits" href="{{ path('ajoutwishlist', {'id' : produit.id}) }}"><i class="fa fa-heart"></i><span>Souhaits</span></a></li>
                                    <li><a title="Comparer ce produit" href="{{ path('ajoutcompare', {'id' : produit.id}) }}"><i class="fa fa-retweet"></i><span>comparer</span></a></li>
                                    <li><a title="Commander sur mesure ce produit, prix commande: {{ produit.euro.prixcommande|number_format(2) }}€" href="{{ path('commande_mesures_new_item', {'id' : produit.id}) }}"><i class="fa fa-pencil"></i><span>Commander sur mesure</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-overview-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="product-tab-inner">
                                    <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                                        <li class="active"> <a href="#reviews" data-toggle="tab">Avis</a> </li>
                                    </ul>
                                    <div id="productTabContent" class="tab-content">
                                        <div id="reviews" class="tab-pane fade in active">
                                            <div class="col-sm-5 col-lg-5 col-md-5">
                                                {% if commentaires|length != 0%}
                                                    <h4>{{ ('Avis des utilisateurs')|upper }}</h4>
                                                {% else %}
                                                    <h4>{{ ('Aucun commentaire sur le produit')|upper }}</h4><h3> <br> <strong> "{{ produit.nom|upper }}" </strong></h3>
                                                {% endif %}
                                                {% for commentaire in commentaires %}  
                                                    <div class="reviews-content-left">
                                                        <div class="review-ratting">
                                                            <p>
                                                                <a>{{ commentaire.titre|capitalize }}</a> 
                                                                {% include 'KountacBundle:Default:produits/rating/rating.html.twig' %}
                                                            </p>
                                                            <br>
                                                            <span>{{ commentaire.contenu|capitalize }}</span>
                                                            <p class="author"> {{ commentaire.pseudo|capitalize }}<small>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (Ajouté le {{ commentaire.date|date("d/M/Y") }})</small> </p>
                                                        </div> 
                                                    </div>
                                                    <div class="buttons-set"></div>
                                                {% endfor %}

                                            </div>

                                            <div class="col-sm-7 col-lg-7 col-md-7">
                                                <div class="reviews-content-right">
                                                   {% if is_granted('IS_AUTHENTICATED_FULLY') %} 
                                                    <h2>Donnez votre avis</h2>
                                                    <br>
                                                    <form action="{{ path('product', {'id' : produit.id}) }}" method="POST">
                                                        {{ form_start(form) }}
                                                        {{ form_errors(form) }}
                                                        <div class="form-area">
                                                            <div class="form-element">
                                                                {{ form_row(form.pseudo) }}
                                                            </div>
                                                            <br>
                                                            <div class="form-element">
                                                                {{ form_row(form.titre) }}
                                                            </div>
                                                            <br>
                                                            <div class="form-element">
                                                                {{ form_row(form.contenu) }}
                                                            </div>
                                                            <div class="buttons-set">
                                                                <button class="button submit" title="Submit" type="submit"><span><i class="fa fa-thumbs-up"></i> &nbsp;Commenter</span></button>
                                                            </div>
                                                        </div>
                                                        {{ form_end(form) }}
                                                    </form>
                                                    {% else %}
                                                        <a title="Pour ajouter votre avis, vous devez avoir un compte kountac" href="{{ path('fos_user_security_login') }}"><h2>Donnez votre avis</h2></a><br>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Container End --> 

    <!-- Related Product Slider -->
    {% if categorieProduits|length != 0%}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="related-product-area">
                    <div class="page-header">
                        <h2>Vous aimerez</h2>
                    </div>
                    <div class="related-products-pro">
                        <div class="slider-items-products">
                            <div id="related-product-slider" class="product-flexslider hidden-buttons">
                                <div class="slider-items slider-width-col4">

                                    {% for produit in categorieProduits %} 
                                        {% if produit.euro %}
                                        {% set prixReduction = 0 %}
                                        {% set prixReduction = produit.euro.prix - (produit.euro.prix * produit.reduction/100) %}

                                        <div class="product-item">
                                            <div class="item-inner">
                                                <div class="product-thumb has-hover-img">
                                                    <figure> <center> <a href="{{ path('product', {'id' : produit.id}) }}"><img src="{{ produit.picture.AssetPath|imagine_filter('resizeThumb') }}" alt=""></a> <a class="hover-img" href="{{ path('product', {'id' : produit.id}) }}"><img src="{{ produit.picture.AssetPath2|imagine_filter('resizeThumb') }}" alt=""></a></center></figure>
                                                    <div class="pr-info-area animated animate4">
                                                        <a title="Réserver ce produit" href="{{ path('reserve_new', {'id' : produit.id}) }}" class="quick-view"><i class="fa fa-save"><span>Reserver</span></i></a> 
                                                        <a title="Ajouter à vos souhaits" href="{{ path('ajoutwishlist', {'id' : produit.id}) }}" class="wishlist"><i class="fa fa-heart"><span>Wishlist</span></i></a> 
                                                        <a title="Comparer ce produit" href="{{ path('ajoutcompare', {'id' : produit.id}) }}" class="compare"><i class="fa fa-exchange"><span>Compare</span></i></a> 
                                                        <a title="Commander sur mesure, prix pour une commande sur mesure : {{ produit.euro.prixcommande|number_format(2) }} €" href="wishlist.html" class="wishlist"><i class="fa fa-pencil"><span>Commander sur mesure</span></i></a> 
                                                    </div>
                                                </div>
                                                <div class="item-info">
                                                    <div class="info-inner">
                                                        <div class="item-title"> <a title="{{ produit.nom|capitalize }}" href="{{ path('product', {'id' : produit.id}) }}">{{ produit.nom|capitalize }} </a> </div>
                                                        <div class="item-content">
                                                            <div class="item-price">
                                                                {% if produit.reduction == 0 %}
                                                                    <div class="price-box"> <span class="regular-price"> <span class="price">{{ prixReduction|number_format(2) }} €</span> </span> </div>
                                                                {% else %}
                                                                    <div class="price-box">
                                                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price">{{ prixReduction|number_format(2) }} €</span> </p>
                                                                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price">{{ produit.euro.prix|number_format(2) }} €</span> </p>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                            <center>
                                                                <div class="language-currency-wrapper left">
                                                                    <div class="inner-cl">
                                                                        <div class="block block-language form-language ">
                                                                          <div class="myaccount">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="{{ path('espace_marque', {'id' : produit.id}) }}" title="Aller à la marque {{ produit.produit1.marque.marque|capitalize }}"><img src="{{ produit.produit1.marque.image.AssetPath|imagine_filter('marqueLogoThumb') }}" alt="">&nbsp;&nbsp;&nbsp;<span class="hidden-xs"> {{ produit.produit1.marque.marque|capitalize }}</span></a></div>
                                                                            <ul>
                                                                                <li>
                                                                                    <strong><a title="Voir tous les produits de la marque {{ produit.produit1.marque.marque|capitalize }}" href="{{ path('espace_marque', {'id' : produit.id}) }}"><span class="hidden-xs">{{ produit.produit1.marque.marque|capitalize }}</span></a></strong>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </center>
                                                            <div class="pro-action">
                                                                <a href="{{ path('ajoutpanier', {'id' : produit.id}) }}">
                                                                    <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Ajouter au panier</span> </button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}            
                                    {% endfor %}  

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Related Product Slider End --> 

{% else %}
    {% include 'KountacBundle:Default:produits/cfa/single_product.html.twig' %}
{% endif %}
{% endblock %}
