{% extends "::base.html.twig" %}

{% block title %}
  {{ produit.produit1.nom|capitalize }} - {{ produit.libelle.libelle|capitalize }}
{% endblock %}
 
{% block meta %}
  <meta name="description" content="{{ produit.produit1.description|capitalize }}, {{ produit.produit1.categorie|trans}}, {{ produit.produit1.nom }}, {{ produit.produit1.description|capitalize }}, {{ produit.produit1.marque.marque|capitalize }} -  Achetez le nouveau prêt à porter africain -  Les dernières tendances modes Africaine en un clic -  The new made in Africa, la qualité africaine livrée chez vous -  Originalité et authenticité, la mode africaine chez vous" />
{% endblock %}

{% block body %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
{% include 'ChatBundle:Chat:chat.html.twig' %}
{% endif %}

    {% if euro|length != 0 %}
        {% if produit.europrix %}
        <div>
            <div class="breadcrumbs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                {% endif %} 
                            </ul>
                            <ul>
                                {% if app.request.hasPreviousSession %}
                                    {% for type, messages in app.session.flashbag.all() %}
                                        {% for message in messages %}
                                            <div class="flash-{{ type }}">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <!-- Breadcrumbs -->

        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul>
                            <li class="home"> <a title="Aller à la page d'accueil" href="{{ path ('kountac_homepage')}}">Accueil</a><span>&raquo;</span></li>
                            <li class="home"> <a title="Voir produits de la catégorie {{ produit.produit1.categorie|capitalize }}" href="{{ path('categorie_2', { 'categorie' : produit.produit1.categorie.id}) }}">{{ produit.produit1.categorie|capitalize }}</a><span>&raquo;</span></li>
                            <li><strong>{{ produit.produit1.nom|capitalize }} - {{ produit.libelle.libelle|capitalize }}</strong></li>
                        </ul>
                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="alert-box">
                                <br>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumbs End --> 
        <!-- Main Container -->
        <div class="main-container col1-layout">
            <div class="container">
                <div class="row">
                    <div class="col-main">
                        <div class="product-view-area">
                            {% set prixReduction = 0 %}
                            {% set prixReduction = produit.europrix - (produit.europrix * produit.reduction/100) %}

                            <div class="product-big-image col-xs-12 col-sm-5 col-lg-5 col-md-5">
                                <div class="slider-items-products">
                                    <div id="upsell-product-slider" class="product-flexslider hidden-buttons">
                                        <div class="large-image slides"> 
                                            {% for image in images %}
                                               <a href="{{ asset(image.AssetPath) }}" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20"> 
                                                    <li><figure><img class="zoom-img" src="{{ asset(image.AssetPath) }}"> </figure></li>
                                                </a> 
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="flexslider flexslider-thumb">
                                    <ul class="previews-list slides">
                                        {% for image in images %}
                                            <li><a href='{{ asset(image.AssetPath) }}' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '{{ asset(image.AssetPath) }}' "><img src="{{ asset(image.AssetPath) }}" alt = ""/></a></li>
                                                {% if image.path2%}
                                            <li><a href='{{ asset(image.AssetPath2) }}' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '{{ asset(image.AssetPath2) }}' "><img src="{{ asset(image.AssetPath2) }}" alt = ""/></a></li>
                                                {% endif %}
                                                {% if image.path3%}
                                            <li><a href='{{ asset(image.AssetPath3) }}' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '{{ asset(image.AssetPath3) }}' "><img src="{{ asset(image.AssetPath3) }}" alt = ""/></a></li>
                                                {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!-- end: more-images --> 

                            </div>
                            <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7 product-details-area">
                                <div class="product-name">
                                    <h1>{{ produit.produit1.nom|capitalize }} - {{ produit.libelle.libelle|capitalize }}</h1>
                                </div>
                                {% if produit.reduction == 0 %}
                                    <div class="price-box"> <span class="regular-price"> <span class="price">{{ prixReduction|number_format(2) }} €</span> </span> </div>
                                {% else %}
                                    <div class="price-box">
                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price">{{ prixReduction|number_format(2) }} €</span> </p>
                                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price">{{ produit.europrix|number_format(2) }} €</span> </p>
                                    </div>
                                {% endif %}

                                <div class="short-description">
                                    {% if produit.produit1.produit2|length > 1 %}
                                        &nbsp;&nbsp;<label>Autre(s) motif(s) : </label> 
                                        {% for motif in produit.produit1.produit2 %}
                                            {% if motif != produit %}
                                                <a title="Motif {{ motif.libelle.libelle|capitalize }}" href="{{ path('product', {'id' : motif.id}) }}">
                                                    <img src="{{ motif.libelle.AssetPath|imagine_filter('cartThumbMenuItem') }}" alt="">&nbsp;&nbsp;&nbsp;&nbsp;
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                
                                <div class="short-description">
                                    {% if produit|length > 1 %}
                                        &nbsp;&nbsp;<label>Autre(s) mannequin(s) : </label> 
                                        {% for image in images_autres %}
                                            <a href="{{ path('product_mannequin', {'id': produit.id, 'id_image': image.id}) }}" title="(taille standard: {{ image.mannequin.tailleStandardMannequin }}, poids: {{ image.mannequin.poidsMannequin }}Kg, Taille:{{ image.mannequin.tailleMannequin }}m)">
                                                <img src="{{ image.mannequin.AssetPath|imagine_filter('cartThumbMenuItem') }}" alt="">&nbsp;
                                                {{ image.mannequin.nomMannequin|capitalize }} - {{ image.mannequin.tailleStandardMannequin }}&nbsp;&nbsp;&nbsp;
                                            </a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                
                                <div class="short-description">
                                </div>
                                

                                <ul id="product-detail-tab" class="nav-tabs product-tabs cart_product center">
                                    {% for produit3 in produit.produit3 %}
                                        {% if loop.first %}
                                            <li class="active"> <a href="#{{ produit3.id }}" data-toggle="tab">{{ produit3.taille }}</a> </li>
                                            {% else %}
                                            <li> <a href="#{{ produit3.id }}" data-toggle="tab">{{ produit3.taille }}</a> </li>
                                            {% endif %}    
                                        {% endfor %}
                                </ul>
                                <br>
                                <div id="productTabContent" class="tab-content">
                                    {% for produit3 in produit.produit3 %}
                                        {% if loop.first %}
                                            <div class="tab-pane fade in active" id="{{ produit3.id }}">
                                            {% else %}
                                                <div class="tab-pane fade" id="{{ produit3.id }}">
                                                {% endif %}
                                                <div class="product-color-size-area">

                                                    <div class="color-area">
                                                        <h2 class="saider-bar-title">Matière</h2>
                                                        <div class="color">
                                                            <ul>
                                                                {{ produit.produit1.matiere|capitalize }}
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="size-area">
                                                        <h2 class="saider-bar-title">Taille</h2>
                                                        <div class="size">
                                                            <ul>
                                                                <li><a>{{ produit3.taille }}</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-variation">
                                                    <form action="{{ path('ajoutpanier', {'id' : produit3.id}) }}" method="get">
                                                        <div class="cart-plus-minus">
                                                            <label for="qty">Quantité:</label>
                                                            <div class="numbers-row">
                                                                <select name="qte" class="select form-control">
                                                                    {% for i in 1 .. produit3.stock|abs %}
                                                                        <option value="{{ i }}">{{ i }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <button class="button pro-add-to-cart" type="submit" title="Ajouter au panier" type="button"><span><i class="fa fa-shopping-cart"></i> Ajouter au panier</span></button>
                                                    </form>
                                                </div>
                                                <div class="product-cart-option">
                                                    <ul>
                                                        <li><a title="Réserver ce produit" href="{{ path('reserve_new', {'id' : produit3.id}) }}"><i class="fa fa-save"></i><span>Reservation</span></a></li>
                                                        <li><a title="Ajouter à vos souhaits" href="{{ path('ajoutwishlist', {'id' : produit3.id}) }}"><i class="fa fa-heart"></i><span>Souhait</span></a></li>
                                                        <li><a title="Comparer ce produit" href="{{ path('ajoutcompare', {'id' : produit3.id}) }}"><i class="fa fa-exchange"></i><span>comparaison</span></a></li>
                                                        {% if produit.europrixCommande %}
                                                            <li><a title="Commander sur mesure ce produit, prix commande: {{ produit.europrixCommande|number_format(2) }}€" href="{{ path('commande_mesures_new_item', {'id' : produit3.produit2.id}) }}"><i class="fa fa-pencil"></i><span>Commande sur mesure</span></a></li>
                                                        {% endif %}
                                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                        <li><a title="Contactez le vendeur"><i class="fa fa-envelope"></i><span class="user">Contacter le vendeur</span></a></li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-overview-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="product-tab-inner">
                                            <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                                                <li class="active"> <a href="#description" data-toggle="tab">Description</a> </li>
                                                <li> <a href="#utilisation" data-toggle="tab">Conditions d'utilisation</a> </li>
                                                <li> <a href="#reviews" data-toggle="tab">Avis</a> </li>
                                            </ul>
                                            <div id="productTabContent" class="tab-content">
                                                <div id="description" class="tab-pane fade in active">
                                                        <center><h3> "{{ produit.produit1.nom|upper }}" </h3></center>
                                                                 <div class="review-ratting">
                                                                    <span>
                                                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{ produit.produit1.description|capitalize }}</a> 
                                                                    </span>
                                                                    <br><br><br>
                                                                    A propos de <a href="{{ path('espace_marque', {'id' : produit.id})}}" title="Voir les informations sur la marque ''{{ produit.produit1.marque.marque|capitalize }}''"> {{ produit.produit1.marque.marque|capitalize }} <img src="{{ produit.produit1.marque.image.AssetPath|imagine_filter('rechercheThumbItem') }}" alt=""></a>
                                                                </div> 
                                                            <div class="buttons-set"></div>
                                                    
                                                </div>
                                                                
                                                <div id="utilisation" class="tab-pane fade">
                                                    <div class="review-ratting">
                                                        {% if produit.produit1.conditionsUtilisation %}
                                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{ produit.produit1.conditionsUtilisation|capitalize }}</a> 
                                                        {% else %}
                                                        <span>
                                                            <h4>{{ ("Aucune conditions d\'utilisation pour ce produit")|upper }}</h4></span>
                                                        {% endif %}
                                                    </div> 
                                                    <div class="buttons-set"></div>
                                                    
                                                </div>
                                                        
                                                <div id="reviews" class="tab-pane fade">
                                                    <div class="col-sm-5 col-lg-5 col-md-5">
                                                        {% if commentaires|length != 0%}
                                                            <h4>{{ ('Avis des utilisateurs')|upper }}</h4>
                                                        {% else %}
                                                            <h4>{{ ('Aucun commentaire sur le produit')|upper }}</h4><h3> <br> <strong> "{{ produit.produit1.nom|upper }}" </strong></h3>
                                                            {% endif %}
                                                            {% for commentaire in commentaires %}  
                                                            <div class="reviews-content-left">
                                                                <div class="review-ratting">
                                                                    <p>
                                                                        <a>{{ commentaire.titre|capitalize }}</a> 
                                                                        {% include 'KountacBundle:Default:produits/rating/rating.html.twig' %}
                                                                    </p>
                                                                    <span>{{ commentaire.contenu|capitalize }}</span>
                                                                    <p class="author"> {{ commentaire.pseudo|capitalize }}<small>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (Ajouté le {{ commentaire.date|date("d/M/Y") }})</small> </p>
                                                                </div> 
                                                            </div>
                                                            <div class="buttons-set"></div>
                                                        {% endfor %}

                                                    </div>

                                                    <div class="col-sm-7 col-lg-7 col-md-7">
                                                        <div class="reviews-content-right">
                                                            {% if is_granted('IS_AUTHENTICATED_FULLY') %} 
                                                                <h2>Donnez votre avis</h2>
                                                                <br>
                                                                <form action="{{ path('product', {'id' : produit.id}) }}" method="POST">
                                                                    {{ form_start(form) }}
                                                                    {{ form_errors(form) }}
                                                                    <div class="form-area">
                                                                        <div class="page-content checkout-page">
                                                                         <div class="box-border">
                                                                        <ul>
                                                                        <li class="row">
                                                                            <div class="col-sm-6">
                                                                                <div class="rating">
                                                                                     Votre avis
                                                                                        <input type="radio" name="note" id="excellent" value="excellent">
                                                                                        <label for="excellent"><i class="icon-star"></i></label>
                                                                                        <input type="radio" name="note" id="tres_bien" value="tres_bien">
                                                                                        <label for="tres_bien"><i class="icon-star"></i></label>
                                                                                        <input type="radio" name="note" id="bien" value="bien">
                                                                                        <label for="bien"><i class="icon-star"></i></label>
                                                                                        <input type="radio" name="note" id="moyen" value="moyen">
                                                                                        <label for="moyen"><i class="icon-star"></i></label>
                                                                                        <input type="radio" name="note" id="mauvais" value="mauvais">
                                                                                        <label for="mauvais"><i class="icon-star"></i></label>
                                                                                        <input type="radio" name="note" id="tres_mauvais" value="tres_mauvais">
                                                                                        <label for="tres_mauvais"><i class="icon-star"></i></label>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li class="row">
                                                                            <div class="col-sm-6">
                                                                                {{ form_row(form.pseudo) }}
                                                                            </div>
                                                                        </li>
                                                                        <li class="row"> 
                                                                            <div class="col-sm-10">
                                                                                {{ form_row(form.contenu) }}
                                                                            </div>
                                                                        </li>
                                                                        <li class="row"> 
                                                                            <div class="col-sm-10">
                                                                                <div class="buttons-set">
                                                                                    <button class="button submit" title="Submit" type="submit"><span><i class="fa fa-thumbs-up"></i> &nbsp;Commenter</span></button>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        
                                                                     </ul>  
                                                                             </div></div>
                                                                    </div>
                                                                    {{ form_end(form) }}
                                                                </form>
                                                            {% else %}
                                                                <a title="Pour ajouter votre avis, vous devez avoir un compte kountac" href="{{ path('fos_user_security_login') }}"><h2>Donnez votre avis</h2></a><br>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Container End --> 

            <!-- Related Product Slider -->
            {% if categorieProduits|length != 0%}
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="related-product-area">
                                <div class="page-header">
                                    <h2>Vous aimerez</h2>
                                </div>
                                <div class="related-products-pro">
                                    <div class="slider-items-products">
                                        <div id="related-product-slider" class="product-flexslider hidden-buttons">
                                            <div class="slider-items slider-width-col4">

                                                {% for produit1 in categorieProduits %}
                                                    {% for produit_autre in produit1.produit2 %}
                                                        {% if produit_autre.europrix and produit != produit_autre %}
                                                        {% set prixReduction = 0 %}
                                                        {% set prixReduction = produit.europrix - (produit.europrix * produit.reduction/100) %}
                                                        <!-- Début Portion de Code à PB -->
                                                        {% for image in images_rest %}
                                                        {% if image.produit2 == produit_autre %}
                                                        <div class="product-item">
                                                            <div class="item-inner">
                                                                <div class="product-thumb has-hover-img">
                                                                    <figure> 
                                                                        <center> 
                                                                                <a href="{{ path('product', {'id' : produit_autre.id}) }}">
                                                                                    <img src="{{ image.AssetPath|imagine_filter('resizeThumb') }}" alt="">
                                                                                </a>
                                                                                {% if image.path2 %}
                                                                                <a class="hover-img" href="{{ path('product', {'id' : produit_autre.id}) }}">
                                                                                    <img src="{{ image.AssetPath2|imagine_filter('resizeThumb') }}" alt="">
                                                                                </a>
                                                                                {% endif %}
                                                                                {% if image.path3 %}
                                                                                <a class="hover-img" href="{{ path('product', {'id' : produit_autre.id}) }}">
                                                                                    <img src="{{ image.AssetPath3|imagine_filter('resizeThumb') }}" alt="">
                                                                                </a>
                                                                                {% endif %}
                                                                                
                                                                        </center>
                                                                    </figure>
                                                                    <div class="pr-info-area animated animate4">
                                                                        <a title="Reserver ce produit" href="{{ path('quickView', {'id' : produit_autre.id}) }}" class="quick-view"><i class="fa fa-save"><span>Reserver</span></i></a> 
                                                                        <a title="Ajouter à vos souhaits" href="{{ path('quickView', {'id' : produit_autre.id}) }}" class="wishlist"><i class="fa fa-heart"><span>Wishlist</span></i></a> 
                                                                        <a title="Comparer ce produit" href="{{ path('quickView', {'id' : produit_autre.id}) }}" class="compare"><i class="fa fa-exchange"><span>Compare</span></i></a> 
                                                                        {% if produit_autre.europrixCommande %}
                                                                            <a title="Commander sur mesure, prix pour une commande sur mesure : {{ produit_autre.europrixCommande|number_format(2) }} €" href="{{ path('commande_mesures_new_item', {'id' : produit_autre.id}) }}" class="wishlist"><i class="fa fa-pencil"><span>Commander sur mesure</span></i></a> 
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                                <div class="item-info">
                                                                    <div class="info-inner">
                                                                        <div class="item-title"> <a title="{{ produit_autre.produit1.nom|capitalize }}" href="{{ path('product', {'id' : produit_autre.id}) }}">{{ produit_autre.produit1.nom|capitalize }}-{{ produit_autre.libelle.libelle|capitalize }}</a> </div>
                                                                        <div class="item-content">
                                                                            <div class="item-price">
                                                                                {% if produit_autre.reduction == 0 %}
                                                                                    <div class="price-box"> <span class="regular-price"> <span class="price">{{ prixReduction|number_format(2) }} €</span> </span> </div>
                                                                                {% else %}
                                                                                    <div class="price-box">
                                                                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price">{{ produit_autre.europrix|number_format(2) }} €</span> </p>
                                                                                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price">{{ produit_autre.europrix|number_format(2) }} €</span> </p>
                                                                                    </div>
                                                                                {% endif %}
                                                                            </div>
                                                                            <center>
                                                                                <div class="language-currency-wrapper left">
                                                                                    <div class="inner-cl">
                                                                                        <div class="block block-language form-language ">
                                                                                          <div class="myaccount">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="{{ path('espace_marque', {'id' : produit_autre.id}) }}" title="Aller à la marque {{ produit_autre.produit1.marque.marque|capitalize }}"><img src="{{ produit_autre.produit1.marque.image.AssetPath|imagine_filter('marqueLogoThumb') }}" alt="">&nbsp;&nbsp;&nbsp;<span class="hidden-xs"> {{ produit_autre.produit1.marque.marque|capitalize }}</span></a></div>
                                                                                            <ul>
                                                                                                <li>
                                                                                                    <strong><a title="Voir tous les produits de la marque {{ produit_autre.produit1.marque.marque|capitalize }}" href="{{ path('espace_marque', {'id' : produit_autre.id}) }}"><span class="hidden-xs">{{ produit_autre.produit1.marque.marque|capitalize }}</span></a></strong>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </center>
                                                                            <div class="pro-action">
                                                                                <a href="{{ path('quickView', {'id' : produit_autre.id}) }}">
                                                                                    <button type="button" class="add-to-cart-mt"> <img src="{{ 'css/cart.jpg'|imagine_filter('rechercheThumbItem') }}" alt=""><span> Ajouter au panier</span> </button>
                                                                                </a>                                                                        </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}  
                                                {% endfor %} 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {% elseif cfa|length != 0 %}
            {% include 'KountacBundle:Default:produits/cfa/single_product.html.twig' %}
        {% elseif livre|length != 0 %}
            {% include 'KountacBundle:Default:produits/livre/single_product.html.twig' %}
        {% elseif usa|length != 0 %}
            {% include 'KountacBundle:Default:produits/usa/single_product.html.twig' %}
        {% elseif naira|length != 0 %}
            {% include 'KountacBundle:Default:produits/naira/single_product.html.twig' %}
        {% elseif all|length != 0 %}
            {% include 'KountacBundle:Default:produits/all/single_product.html.twig' %}
        {% endif %}
    {% endblock %}
