<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Aller à la page d'accueil" href="{{ path('kountac_homepage')}}">Accueil</a><span>&raquo;</span></li>
                    <li class="home"> <a title="Aller à la page de connexion" href="{{ path('fos_user_security_login')}}">Connexion</a><span>&raquo;</span></li>
                    <li><strong>Reinitialisation du mot de passe</strong></li>
               </ul>
            </div>
        </div>
    </div>
</div>
<section class="main-container col1-layout">
    <div class="main container">
{% trans_default_domain 'FOSUserBundle' %}
        <div class="page-content">
            <div class="account-login">
                <div class="box-authentication">
                    <h3>Reinitialiser mot de passe</h3><br>
                        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                            <br>
                        {{ form_widget(form)}}
                            <button class="button" type="submit"><i class="fa fa-lock"></i>&nbsp; <span>{{ 'resetting.reset.submit'|trans }}</span></button>
                        {{ form_end(form) }}
                </div>
                <div class="box-authentication">
                    <h2>Nouveau mot de passe</h2>
                    <p>Entrer un nouveau de passe,<br> retaper et valider </p>
                </div>
             </div>
        </div>
    </div>
</section>
