    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li class="home"> <a title="Aller à l'accueil" href="{{ path ('kountac_homepage')}}">Accueil</a><span>&raquo;</span></li>
                            {% if tri is defined %}
                            <li class=""> <a title="Voir tous les produits" href="{{ path('all_products') }}">Tous les produits</a><span>&raquo;</span></li>
                            <li><strong>Résultat du tri</strong></li>
                            {% elseif recherche is defined %}
                            <li class=""> <a title="Voir tous les produits" href="{{ path('all_products') }}">Tous les produits</a><span>&raquo;</span></li>
                            <li><strong>Recherche "{{ mot|capitalize }}"</strong></li>            
                            {% elseif categorie is defined %}
                            <li class=""> <a title="Voir tous les produits" href="{{ path('all_products') }}">Tous les produits</a><span>&raquo;</span></li>
                            <li><strong>Produits de la catégorie "{{ nom|capitalize }}"</strong></li>
                            {% elseif collection is defined %}
                            <li class=""> <a title="Voir tous les produits" href="{{ path('all_products') }}">Tous les produits</a><span>&raquo;</span></li>
                            <li><strong>Produits de la collection "{{ nom|capitalize }}"</strong></li>
                            {% else %}
                            <li><strong>Tous les produits</strong></li>
                            {% endif %}
                        </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs End --> 
    <!-- Main Container -->
    <div class="main-container col2-left-layout">
        <div class="container">
            <div class="row">
                <div class="col-main col-sm-9 col-xs-12 col-sm-push-3">
                    <div class="category-description std">
                        <div class="slider-items-products">
                            <div id="category-desc-slider" class="product-flexslider hidden-buttons">
                                <div class="slider-items slider-width-col1 owl-carousel owl-theme"> 

                                    <!-- Item -->
                                    <div class="item"> <a href="#x"><img alt="" src="{{ asset('images/cat-slider-img1.jpg') }}"></a>
                                        <div class="inner-info">
                                            <div class="cat-img-title"> 
                                                <h2 class="cat-heading"></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Item --> 

                                    <!-- Item -->
                                    <div class="item"> <a href="#x"><img alt="" src="{{ asset('images/cat-slider-img2.jpg') }}"></a> </div>

                                    <!-- End Item --> 

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-inner">
                        {% if produits|length == 0 %}
                            <div class="page-title">
                                <h2>Aucun produit à afficher</h2>
                                <div class="cart_navigation"> <a class="continue-btn" href="{{ path('all_products') }}"><i class="fa fa-arrow-left"> </i>&nbsp; Voir tous les produits</a></div>
                            </div>
                        {% else %}
                            <div class="page-title">
                                {% if tri is defined %}
                                    <h2>Résultat du tri</h2>
                                {% elseif recherche is defined %}
                                    <h2 class="page-title">Resultats de la recherche : "{{ mot }}"</h2>
                                {% elseif categorie is defined %}
                                    <h2 class="page-title">Tous les produits de la catégorie "{{ nom }}"</h2>
                                {% elseif collection is defined %}
                                    <h2 class="page-title">Tous les produits de la collection "{{ nom }}"</h2>
                                {% else %}
                                    <h2>Tous les produits</h2>
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="product-grid-area">
                            <ul class="products-grid">
                                {% for produit in produits %}
                                    {% if produit.cfaprix %}
                                    {% set prixReduction = 0 %}
                                    {% set prixReduction = produit.cfaprix - (produit.cfaprix * produit.reduction/100) %}
                                    <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6 ">
                                        <div class="product-item">
                                            <div class="item-inner">
                                                <div class="product-thumb has-hover-img">
                                                    <figure> 
                                                        <center>
                                                            {% for image in images %}
                                                                {% if image.produit2 == produit and image.top == 0 and image.produit2 != null %}
                                                                <a href="{{ path('product', {'id' : produit.id}) }}"><img src="{{ asset(image.AssetPath |imagine_filter('resizeThumb')) }}" alt=""></a>
                                                                {% if image.path2 %}
                                                                <a class="hover-img" href="{{ path('product', {'id' : produit.id}) }}">
                                                                    <img src="{{ asset(image.AssetPath2 |imagine_filter('resizeThumb')) }}" alt="">
                                                                </a>
                                                                {% endif %}
                                                                {% if image.path3 %}
                                                                <a class="hover-img" href="{{ path('product', {'id' : produit.id}) }}">
                                                                    <img src="{{ asset(image.AssetPath3 |imagine_filter('resizeThumb')) }}" alt="">
                                                                </a>
                                                                {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </center>
                                                    </figure>

                                                    <div class="pr-info-area animated animate4">
                                                        <a title="Reserver ce produit" href="{{ path('quickViewAllProducts', {'id' : produit.id}) }}" class="quick-view"><i class="fa fa-save"><span>Reserver</span></i></a> 
                                                        <a title="Ajouter à vos souhaits" href="{{ path('quickViewAllProducts', {'id' : produit.id}) }}" class="wishlist"><i class="fa fa-heart"><span>Wishlist</span></i></a> 
                                                        <a title="Comparer ce produit" href="{{ path('quickViewAllProducts', {'id' : produit.id}) }}" class="compare"><i class="fa fa-exchange"><span>Compare</span></i></a> 
                                                        {% if produit.cfaprixCommande %}
                                                            <a title="Commander sur mesure, prix pour une commande sur mesure : {{ produit.cfaprixCommande|number_format(2) }} F CFA" href="{{ path('commande_mesures_new_item', {'id' : produit.id}) }}" class="wishlist"><i class="fa fa-pencil"><span>Commander sur mesure</span></i></a> 
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="item-info">
                                                    <div class="info-inner">
                                                        <div class="item-title"> <a title="{{ produit.produit1.nom|capitalize }} - {{ produit.libelle.libelle|capitalize }}" href="{{ path('product', {'id' : produit.id}) }}">{{ produit.produit1.nom|capitalize }} - {{ produit.libelle.libelle|capitalize }}</a> </div>
                                                        <div class="item-content">
                                                            <div class="item-price">
                                                                {% if produit.reduction == 0 %}
                                                                    <div class="price-box"> <span class="regular-price"> <span class="price">{{ prixReduction|number_format(2) }} F CFA</span> </span> </div>
                                                                {% else %}
                                                                    <div class="price-box">
                                                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price">{{ prixReduction|number_format(2) }} F CFA</span> </p>
                                                                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price">{{ produit.cfaprix|number_format(2) }} F CFA</span> </p>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                            <center>
                                                                <div class="language-currency-wrapper left">
                                                                    <div class="inner-cl">
                                                                        <div class="block block-language form-language ">
                                                                          <div class="myaccount">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="{{ path('espace_marque', {'id' : produit.id}) }}" title="Aller à la marque {{ produit.produit1.marque.marque|capitalize }}"><img src="{{ produit.produit1.marque.image.AssetPath|imagine_filter('marqueLogoThumb') }}" alt="">&nbsp;&nbsp;&nbsp;<span class="hidden-xs"> {{ produit.produit1.marque.marque|capitalize }}</span></a></div>
                                                                            <ul>
                                                                                <li>
                                                                                    <strong><a title="Voir tous les produits de la marque {{ produit.produit1.marque.marque|capitalize }}" href="{{ path('espace_marque', {'id' : produit.id}) }}"><span class="hidden-xs">{{ produit.produit1.marque.marque|capitalize }}</span></a></strong>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </center>
                                                            <div class="pro-action">
                                                                <a href="{{ path('quickViewAllProducts', {'id' : produit.id}) }}">
                                                                    <button type="button" class="add-to-cart-mt"> <img src="{{ 'css/cart.jpg'|imagine_filter('rechercheThumbItem') }}" alt=""><span> Ajouter au panier</span> </button>
                                                                </a>                                                                        
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="pagination-area "></div>
                        <center>
                            {{ knp_pagination_render(produits) }}
                        </center>
                    </div>
                </div>
                <aside class="sidebar col-sm-3 col-xs-12 col-sm-pull-9">
                    <form method="POST" action="{{ path('all_products') }}">
                        <div class="block shop-by-side">
                            <div class="sidebar-bar-title">
                                <h3>Affiner la recherche</h3>
                            </div>

                            <div class="block-content">
                                <div class="layered-Category">
                                    <h2 class="saider-bar-title">Prix (F CFA)</h2>
                                    <div class="layered-content">
                                        <ul class="check-box-list">
                                            <li>
                                                <fieldset>
                                                    <!--output name="prix">{{ cfaprix[0].mincfa }}</output>
                                                    <input type="range" multiple name="prix" min="{{ cfaprix[0].mincfa }}" max="{{ cfaprix[0].maxcfa }}" value="0" step="1" oninput="prix.value=parseInt(prix.value)" autocomplete="off" /-->
                                                    <input type="text" name="prix" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold; margin: 10px;">
                                                    <div id="slider-range" style=" margin-left: 10px; margin-right: 10px;"></div>
                                                </fieldset>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="layered-Category">
                                    <h2 class="saider-bar-title" data-toggle="collapse" data-target="#categorie"><a>Catégorie(s)</a></h2>
                                    <div id="categorie" class="collapse layered-content">
                                        <ul class="check-box-list">
                                            {% for categorie in categories %}
                                                <li>
                                                    <input type="radio" id="{{ categorie.id }}" name="categorie" value="{{ categorie.id }}">
                                                    <label for="{{ categorie.id }}"> <span class="button"></span> {{ categorie.nom|capitalize }}</label><br>
                                                    {% for categorie2 in categorie.children %}
                                                    <tiny>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="{{ categorie2.id }}" name="categorie" value="{{ categorie2.id }}">
                                                        <label for="{{ categorie2.id }}"> <span class="button"></span> {{ categorie2.nom|capitalize }}</label><br>
                                                    </tiny>
                                                        {% for categorie3 in categorie2.children %}
                                                            <small>
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="{{ categorie3.id }}" name="categorie" value="{{ categorie3.id }}">
                                                                <label for="{{ categorie3.id }}"> <span class="button"></span> {{ categorie3.nom|capitalize }}</label><br>
                                                            </small>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </li>
                                            {% endfor %}
                                            <li>
                                                <input type="radio" id="toutes_les_categories" name="categorie" value="toutes_les_categories" checked="checked">
                                                <label for="toutes_les_categories"> <span class="button"></span> Toutes les catégories</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                    
                                <div class="layered-Category">
                                    <h2 class="saider-bar-title" data-toggle="collapse" data-target="#marque"><a>Marque(s)</a></h2>
                                    <div id="marque" class="collapse layered-content">
                                        <ul class="check-box-list">
                                            {% for marque in marques %}
                                                <li>
                                                    <input type="radio" id="{{ marque.marque }}" name="marque" value="{{ marque.marque }}">
                                                    <label for="{{ marque.marque }}"> 
                                                        <img src="{{ marque.image.AssetPath|imagine_filter('recherche2ThumbItem') }}" alt="">
                                                        <span class="button"></span> ({{ marque.marque|capitalize }})
                                                    </label>
                                                </li>
                                            {% endfor %}
                                            <br>
                                            <li>
                                                <input type="radio" id="toutes_les_marques" name="marque" value="toutes_les_marques" checked="checked">
                                                <label for="toutes_les_marques"> <span class="button"></span> Toutes les marques</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="layered-Category">
                                    <h2 class="saider-bar-title" data-toggle="collapse" data-target="#motif"><a>Motif(s)</a></h2>
                                    <div id="motif" class="collapse layered-content">
                                        <ul class="check-box-list">
                                            {% for motif in motifs %}
                                            <li>
                                                <input type="checkbox" id="{{ motif.libelle }}" name="motif[]" value="{{ motif.id }}">
                                                <label for="{{ motif.libelle }}"> <span class="button"></span> 
                                                    <img src="{{ motif.AssetPath|imagine_filter('rechercheThumbItem') }}" alt="">
                                                    {{ motif.libelle|capitalize }}
                                                </label>
                                            </li>
                                            {% endfor %}
                                            <br>
                                            <li>
                                                <input type="checkbox" id="tous_les_motifs" name="motif" value="tous_les_motifs">
                                                <label for="tous_les_motifs"> <span class="button"></span> Toutes les motifs</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="size-area">
                                    <h2 class="saider-bar-title" data-toggle="collapse" data-target="#taille"><a>Taille(s)</a></h2>
                                    <div id="taille" class="collapse layered-content">
                                        <ul class="check-box-list">
                                            <li>
                                                <input type="radio" id="xs_taille" name="taille" value="34">
                                                <label for="xs_taille"> <span class="button"></span> {{ ('34')|upper }} </label>
                                            </li>
                                            <li>
                                                <input type="radio" id="s_taille" name="taille" value="36">
                                                <label for="s_taille"> <span class="button"></span> {{ ('36')|upper }} </label>
                                            </li>
                                            <li>
                                                <input type="radio" id="m_taille" name="taille" value="38">
                                                <label for="m_taille"> <span class="button"></span> {{ ('38')|upper }} </label>
                                            </li>
                                            <li>
                                                <input type="radio" id="l_taille" name="taille" value="40">
                                                <label for="l_taille"> <span class="button"></span> {{ ('40')|upper }} </label>
                                            </li>
                                            <li>
                                                <input type="radio" id="xl_taille" name="taille" value="42">
                                                <label for="xl_taille"> <span class="button"></span> {{ ('42')|upper }} </label>
                                            </li>
                                            <li>
                                                <input type="radio" id="2xl_taille" name="taille" value="44">
                                                <label for="2xl_taille"> <span class="button"></span> {{ ('44')|upper }} </label>
                                            </li>
                                            <li>
                                                <input type="radio" id="3xl_taille" name="taille" value="46">
                                                <label for="3xl_taille"> <span class="button"></span> {{ ('46')|upper }} </label>
                                            </li>
                                            <li>
                                                <input type="radio" id="4xl_taille" name="taille" value="48">
                                                <label for="4xl_taille"> <span class="button"></span> {{ ('48')|upper }} </label>
                                            </li>
                                            <li>
                                                <input type="radio" id="5xl_taille" name="taille" value="50">
                                                <label for="5xl_taille"> <span class="button"></span> {{ ('50')|upper }} </label>
                                            </li>
                                            <li>
                                                <input type="radio" id="toutes_les_tailles" name="taille" value="toutes_les_tailles" checked="checked">
                                                <label for="toutes_les_tailles"> <span class="button"></span> Toutes les tailles</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cart-checkout">
                            <button class="button" type="submit"><i class="fa fa-check"></i> <span>Chercher</span></button> 
                        </div>
                    </form>
                    <br>
                    
                    
                    <form method="POST" action="{{ path('recherche_avatar') }}"> 
                        <div class="block shop-by-side">
                            <div class="sidebar-bar-title">
                                <h3 data-toggle="collapse" data-target="#avatar"><a>Par avatar</a></h3>
                            </div>

                            <div id="avatar" class="collapse block-content">
                                
                                <div class="layered-Category">
                                    <h2 class="saider-bar-title">Mannequin(s) disponible(s)</h2>
                                    <div class="layered-content">
                                        <ul class="check-box-list">
                                            {% for mannequin in mannequins %}
                                            <li>
                                                <input type="checkbox" id="{{ mannequin.nomMannequin }}" name="mannequin[]" value="{{ mannequin.id }}">
                                                <label for="{{ mannequin.nomMannequin }}"> <span class="button"></span> 
                                                    <img src="{{ mannequin.AssetPath|imagine_filter('rechercheThumbItem') }}" alt="">
                                                    {{ mannequin.nomMannequin|capitalize }}
                                                    <span class="count"><br> (taille std.:{{ mannequin.tailleStandardMannequin }}, poids: {{ mannequin.poidsMannequin }}Kg, Taille:{{ mannequin.tailleMannequin }}m)</span> 
                                                </label>
                                            </li>
                                            <br>
                                            {% endfor %}
                                            <br>
                                            <li>
                                                <input type="checkbox" id="tous_les_mannequins" name="mannequin" value="tous_les_mannequins" >
                                                <label for="tous_les_mannequins"> <span class="button"></span> Toutes les mannequins</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="cart-checkout">
                                    <button class="button" type="submit"><i class="fa fa-check"></i> <span>Trouver</span></button> 
                                </div>
                            </div>
                        </div>
                    </form>
                                                              
                    <form method="POST" action="{{ path('recherche_taille_poids') }}">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="block shop-by-side">
                            <div class="sidebar-bar-title">
                                <h3 data-toggle="collapse" data-target="#taille_poids"><a>Par taille - poids</a></h3>
                            </div>

                            <div id="taille_poids" class="collapse block-content">
                                <div class="layered-Category">
                                    <h2 class="saider-bar-title">Taille/Poids</h2>
                                    <div class="layered-content">
                                        <ul class="check-box-list">
                                            <li class="row">
                                                <div class="col-sm-12">
                                                    {{ form_row(form.taille) }}
                                                </div><!--/ [col] -->
                                           </li>
                                           <li class="row">
                                                <div class="col-sm-12">
                                                    {{ form_row(form.poids) }}
                                                </div><!--/ [col] -->
                                           </li>
                                            <br>
                                        </ul>
                                    </div>
                                </div>
                                
                                <div class="cart-checkout">
                                    <button class="button" type="submit"><i class="fa fa-check"></i> <span>Trouver</span></button> 
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </form>
                    <br>
                    
                    {% render(controller('KountacBundle:Compare:compareAside')) %}

                    {% render(controller('KountacBundle:Panier:panierMenuAllProducts')) %}

                </aside>
            </div>
        </div>
    </div>
    <!--script type="text/javascript">
        $(function () {
            $('.range').next().text('--'); // Valeur par défaut
            $('.range').on('input', function () {
                var $set = $(this).val();
                $(this).next().text($set);
            });
        });
    </script-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#slider-range" ).slider({
                range: true,
                min: {{ cfaprix[0].mincfa }},
                max: {{ cfaprix[0].maxcfa }},
                values: [ {{ cfaprix[0].mincfa }}, {{ cfaprix[0].maxcfa }} ],
                slide: function( event, ui ) {
                    $( "#amount" ).val(ui.values[ 0 ].toLocaleString('en') + " - " + ui.values[ 1 ].toLocaleString('en')  );
                }
            });
            $( "#amount" ).val( $( "#slider-range" ).slider( "values", 0 ).toLocaleString('en') + " - " +
                $( "#slider-range" ).slider( "values", 1 ).toLocaleString('en') );
        } );
    </script>