{% if cfa|length == 0%}
    <div class="col-md-6 col-sm-5 col-xs-6"> 
        <!-- Default Welcome Message --> 
        <div class="welcome-msg hidden-xs">Bienvenue sur kountac !</div>
        <div class="language-currency-wrapper">
            <div class="inner-cl">
                <div class="block block-language form-language">
                    <div class="lg-cur"> <span> <img src="{{ asset('admin/images/flag-default.jpg') }}" alt="French"> <span class="lg-fr">Français</span> <i class="fa fa-angle-down"></i> </span> </div>
                    <ul>
                        <li> <a class="selected" href="#"> <img src="{{ asset('images/flag-english.jpg') }}" alt="flag"> <span>English</span> </a> </li>
                    </ul>
                </div>
                <div class="block block-currency">
                    <div class="item-cur"> <span class="cur_icon"><span class="cur_icon">€</span> EUR </span> <i class="fa fa-angle-down"></i></div>
                    <ul>
                        <li> <a href="{{ path('kountac_devise_cfa') }}"><span class="cur_icon">F</span>CFA</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="col-md-6 col-sm-5 col-xs-6"> 
        <!-- Default Welcome Message --> 
        <div class="welcome-msg hidden-xs">Bienvenue sur kountac !</div>
        <div class="language-currency-wrapper">
            <div class="inner-cl">
                <div class="block block-language form-language">
                    <div class="lg-cur"> <span> <img src="{{ asset('admin/images/flag-default.jpg') }}" alt="French"> <span class="lg-fr">Français</span> <i class="fa fa-angle-down"></i> </span> </div>
                    <ul>
                        <li> <a class="selected" href="#"> <img src="{{ asset('images/flag-english.jpg') }}" alt="flag"> <span>English</span> </a> </li>
                    </ul>
                </div>
                <div class="block block-currency">
                    <div class="item-cur"> <span class="cur_icon"><span class="cur_icon">F</span>CFA</span> <i class="fa fa-angle-down"></i></div>
                    <ul>
                        <li> <a href="{{ path('kountac_devise_euro') }}"><span class="cur_icon">€</span>EUR</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endif %} 