{% if euro|length != 0 %}
<div class="block block-currency">
    <div class="item-cur"><span class="cur_icon">€</span> EUR <i class="fa fa-angle-down"></i></div>
    <ul>
        <li> <a href="{{ path('kountac_devise_cfa') }}"><span class="cur_icon">F</span> CFA</a> </li>
        <li> <a href="{{ path('kountac_devise_naira') }}"><span class="cur_icon">₦</span> NAÏRA</a> </li>
        <li> <a href="{{ path('kountac_devise_livre') }}"><span class="cur_icon">£</span> GBP</a> </li>
        <li> <a href="{{ path('kountac_devise_usa') }}"><span class="cur_icon">$</span> USD</a> </li>        
    </ul>
</div>
{% elseif cfa|length != 0 %}
<div class="block block-currency">
    <div class="item-cur"><span class="cur_icon">F</span> CFA <i class="fa fa-angle-down"></i></div>
    <ul>
        <li> <a href="{{ path('kountac_devise_euro') }}"><span class="cur_icon">€</span> EUR</a> </li>
        <li> <a href="{{ path('kountac_devise_naira') }}"><span class="cur_icon">₦</span> NAÏRA</a> </li>
        <li> <a href="{{ path('kountac_devise_livre') }}"><span class="cur_icon">£</span> GBP</a> </li>
        <li> <a href="{{ path('kountac_devise_usa') }}"><span class="cur_icon">$</span> USD</a> </li>
    </ul>
</div>
{% elseif naira|length != 0 %}
<div class="block block-currency">
    <div class="item-cur"><span class="cur_icon">₦</span> NAÏRA <i class="fa fa-angle-down"></i></div>
    <ul>
        <li> <a href="{{ path('kountac_devise_euro') }}"><span class="cur_icon">€</span> EUR</a> </li>
        <li> <a href="{{ path('kountac_devise_cfa') }}"><span class="cur_icon">F</span> CFA</a> </li>
        <li> <a href="{{ path('kountac_devise_livre') }}"><span class="cur_icon">£</span> GBP</a> </li>
        <li> <a href="{{ path('kountac_devise_usa') }}"><span class="cur_icon">$</span> USD</a> </li>
    </ul>
</div>
{% elseif usa|length != 0 %}
<div class="block block-currency">
    <div class="item-cur"><span class="cur_icon">$</span> USD <i class="fa fa-angle-down"></i></div>
    <ul>
        <li> <a href="{{ path('kountac_devise_euro') }}"><span class="cur_icon">€</span> EUR</a> </li>
        <li> <a href="{{ path('kountac_devise_cfa') }}"><span class="cur_icon">F</span> CFA</a> </li>
        <li> <a href="{{ path('kountac_devise_livre') }}"><span class="cur_icon">£</span> GBP</a> </li>
        <li> <a href="{{ path('kountac_devise_naira') }}"><span class="cur_icon">₦</span> NAÏRA</a> </li>
    </ul>
</div>
{% elseif livre|length != 0 %}
<div class="block block-currency">
    <div class="item-cur"><span class="cur_icon">£</span> GBP <i class="fa fa-angle-down"></i></div>
    <ul>
        <li> <a href="{{ path('kountac_devise_euro') }}"><span class="cur_icon">€</span> EUR</a> </li>
        <li> <a href="{{ path('kountac_devise_cfa') }}"><span class="cur_icon">F</span> CFA</a> </li>
        <li> <a href="{{ path('kountac_devise_usa') }}"><span class="cur_icon">$</span> USD</a> </li>
        <li> <a href="{{ path('kountac_devise_naira') }}"><span class="cur_icon">₦</span> NAÏRA</a> </li>
    </ul>
</div>
{% endif %}