{% if euro|length != 0 %}
<div class="block block-currency">
    <div class="item-cur"><span class="cur_icon">€</span> FR <!--i class="fa fa-angle-down"></i--></div>
    <!--ul>
        <li> <a href="{{ path('kountac_devise_all') }}"><span class="cur_icon">€</span> Allemagne</a> </li>
        <li> <a href="{{ path('kountac_devise_cfa') }}"><span class="cur_icon">FCFA</span> Cameroun</a> </li>
        <li> <a href="{{ path('kountac_devise_naira') }}"><span class="cur_icon">₦</span> Nigeria</a> </li>
        <li> <a href="{{ path('kountac_devise_livre') }}"><span class="cur_icon">£</span> Angleterre</a> </li>
        <li> <a href="{{ path('kountac_devise_usa') }}"><span class="cur_icon">$</span> Etats-unis</a> </li>        
    </ul-->
</div>
{% elseif all|length != 0 %}
<div class="block block-currency">
    <div class="item-cur"><span class="cur_icon">€</span> DE <!--i class="fa fa-angle-down"></i--></div>
    <!--ul>
        <li> <a href="{{ path('kountac_devise_euro') }}"><span class="cur_icon">€</span> France</a> </li>
        <li> <a href="{{ path('kountac_devise_cfa') }}"><span class="cur_icon">FCFA</span> Cameroun</a> </li>
        <li> <a href="{{ path('kountac_devise_naira') }}"><span class="cur_icon">₦</span> Nigeria</a> </li>
        <li> <a href="{{ path('kountac_devise_livre') }}"><span class="cur_icon">£</span> Angleterre</a> </li>
        <li> <a href="{{ path('kountac_devise_usa') }}"><span class="cur_icon">$</span> Etats-unis</a> </li>        
    </ul-->
</div>
{% elseif cfa|length != 0 %}
<div class="block block-currency">
    <div class="item-cur"><span class="cur_icon">F CFA</span> CM <!--i class="fa fa-angle-down"></i--></div>
    <!--ul>
        <li> <a href="{{ path('kountac_devise_euro') }}"><span class="cur_icon">€</span> France</a> </li>
        <li> <a href="{{ path('kountac_devise_all') }}"><span class="cur_icon">€</span> Allemagne</a> </li>
        <li> <a href="{{ path('kountac_devise_naira') }}"><span class="cur_icon">₦</span> Nigeria</a> </li>
        <li> <a href="{{ path('kountac_devise_livre') }}"><span class="cur_icon">£</span> Angleterre</a> </li>
        <li> <a href="{{ path('kountac_devise_usa') }}"><span class="cur_icon">$</span> Etats-unis</a> </li>
    </ul-->
</div>
{% elseif naira|length != 0 %}
<div class="block block-currency">
    <div class="item-cur"><span class="cur_icon">₦</span> NG <!--i class="fa fa-angle-down"></i--></div>
    <!--ul>
        <li> <a href="{{ path('kountac_devise_euro') }}"><span class="cur_icon">€</span> France</a> </li>
        <li> <a href="{{ path('kountac_devise_all') }}"><span class="cur_icon">€</span> Allemagne</a> </li>
        <li> <a href="{{ path('kountac_devise_cfa') }}"><span class="cur_icon">FCFA</span> Cameroun</a> </li>
        <li> <a href="{{ path('kountac_devise_livre') }}"><span class="cur_icon">£</span> Angleterre</a> </li>
        <li> <a href="{{ path('kountac_devise_usa') }}"><span class="cur_icon">$</span> Etats-unis</a> </li>
    </ul-->
</div>
{% elseif usa|length != 0 %}
<div class="block block-currency">
    <div class="item-cur"><span class="cur_icon">$</span> US <!--i class="fa fa-angle-down"></i--></div>
    <!--ul>
        <li> <a href="{{ path('kountac_devise_euro') }}"><span class="cur_icon">€</span> France</a> </li>
        <li> <a href="{{ path('kountac_devise_all') }}"><span class="cur_icon">€</span> Allemagne</a> </li>
        <li> <a href="{{ path('kountac_devise_cfa') }}"><span class="cur_icon">FCFA</span> Cameroun</a> </li>
        <li> <a href="{{ path('kountac_devise_livre') }}"><span class="cur_icon">£</span> Angleterre</a> </li>
        <li> <a href="{{ path('kountac_devise_naira') }}"><span class="cur_icon">₦</span> Nigeria</a> </li>
    </ul-->
</div>
{% elseif livre|length != 0 %}
<div class="block block-currency">
    <div class="item-cur"><span class="cur_icon">£</span> GB <!--i class="fa fa-angle-down"></i--></div>
    <!--ul>
        <li> <a href="{{ path('kountac_devise_euro') }}"><span class="cur_icon">€</span> France</a> </li>
        <li> <a href="{{ path('kountac_devise_all') }}"><span class="cur_icon">€</span> Allemagne</a> </li>
        <li> <a href="{{ path('kountac_devise_cfa') }}"><span class="cur_icon">FCFA</span> Cameroun</a> </li>
        <li> <a href="{{ path('kountac_devise_usa') }}"><span class="cur_icon">$</span> Etats-unis</a> </li>
        <li> <a href="{{ path('kountac_devise_naira') }}"><span class="cur_icon">₦</span> Nigeria</a> </li>
    </ul-->
</div>
{% endif %}