{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="language-currency-wrapper">
        <div class="login"><a title="Se connecter " href="{{ path('fos_user_security_login') }}"><i class="fa fa-unlock-alt"></i><span class="hidden-xs">Connexion</span></a></div>
    </div>        
{% endif %} 
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {% if is_granted('ROLE_PRO') %}
        <div class="language-currency-wrapper">
            <div class="inner-cl">
                <div class="block block-language form-language">
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="myaccount"><a title="Compte administrateur"><i class="fa fa-user-md"></i><span class="hidden-xs">{% if user.prenom %}{{ user.prenom|capitalize }}{% endif %} {{ user.nom }}</span></a></div>
                    {% else %}
                        <div class="myaccount"><a title="Mon compte professionnel"><i class="fa fa-user-secret"></i><span class="hidden-xs">{% if user.prenom %}{{ user.prenom|capitalize }}{% endif %} {{ user.nom }}</span></a></div>
                    {% endif %}
                    <ul>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <strong><a title="Compte administrateur" href="{{ path('admin_profile_show') }}"><i class="fa fa-user-md"></i><span class="hidden-xs">Administrationn</span></a></strong>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                        {% else %}
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li>
                                <strong><a title="Mon compte professionnel" href="{{ path('pro_user_profile_show') }}"><span class="hidden-xs">Espace pro.</span></a></strong>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                        {% endif %}
                        
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% elseif is_granted('ROLE_ADMIN') %}
        <div class="language-currency-wrapper">
            <div class="inner-cl">
                <div class="block block-language form-language">
                    <div class="myaccount"><a title="Compte administrateur"><i class="fa fa-user-md"></i><span class="hidden-xs">{% if user.prenom %}{{ user.prenom|capitalize }}{% endif %} {{ user.nom }}</span></a></div>
                    <ul>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li>
                                <strong><a title="Compte administrateur" href="{{ path('admin_profile_show') }}"><i class="fa fa-user-md"></i><span class="hidden-xs">Administrationn</span></a></strong>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% else %}
        <div class="language-currency-wrapper">
            <div class="inner-cl">
                <div class="block block-language form-language">
                    <div class="myaccount"><a title="Mon compte utilisateur"><i class="fa fa-user"></i><span class="hidden-xs">{% if user.prenom %}{{ user.prenom|capitalize }}{% endif %} {{ user.nom }}</span></a></div>
                    <ul>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li>
                                <strong><a title="Mon compte utilisateur" href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i><span class="hidden-xs">Mon Espace</span></a></strong>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}  
{% endif %}  
