
<!-- Code by ChrisME-->

    <div class="container new-layout" style="margin-top: 30px;">
        <div class="special-products">
            <div class="home-tab">
                <ul class="nav home-nav-tabs home-product-tabs">
                    <li class="active"><a href="#featured" data-toggle="tab" aria-expanded="false">Meilleures ventes</a></li>
                    <li> <a href="#top-sellers" data-toggle="tab" aria-expanded="false">Bon plans</a> </li>
                </ul>
                <div class="special-products-pro tab-content">
                    <div class="slider-items-products tab-pane active in" id="featured">
                        <div id="special-products-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4">

                                {% set nbr = 0 %}
                                {% for produit in populaires %}
                                    {% if produit.livreprix %}
                                        {% if nbr < 12 %}
                                            {% set prixReduction = 0 %}
                                            {% set prixReduction = produit.livreprix - (produit.livreprix * produit.reduction/100) %}

                                            <div class="product-item">
                                                <div class="item-inner">
                                                    <div class="product-thumb has-hover-img">
                                                        <figure>
                                                            <center>
                                                                {% for image in images %}
                                                                    {% if image.produit2 == produit.prod and image.top == 0 %}
                                                                        <a href="{{ path('product', {'id' : produit.id}) }}">
                                                                            <img src="{{ image.AssetPath |imagine_filter('resizeThumb') }}" alt="">
                                                                        </a>
                                                                        {% if image.path2 %}
                                                                        <a class="hover-img" href="{{ path('product', {'id' : produit.id}) }}">
                                                                            <img src="{{ image.AssetPath2 |imagine_filter('resizeThumb') }}" alt="">
                                                                        </a>
                                                                        {% endif %}
                                                                        {% if image.path3 %}
                                                                        <a class="hover-img" href="{{ path('product', {'id' : produit.id}) }}">
                                                                            <img src="{{ image.AssetPath3 |imagine_filter('resizeThumb') }}" alt="">
                                                                        </a>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </center>
                                                        </figure>
                                                        <div class="pr-info-area animated animate4">
                                                            <a title="Réserver ce produit" href="{{ path('quickView', {'id' : produit.id}) }}" class="quick-view"><i class="fa fa-save"><span>Reserver</span></i></a>
                                                            <a title="Ajouter aux souhaits" href="{{ path('quickView', {'id' : produit.id}) }}" class="wishlist"><i class="fa fa-heart"><span>Wishlist</span></i></a>
                                                            <a title="Comparer ce produit" href="{{ path('quickView', {'id' : produit.id}) }}" class="compare"><i class="fa fa-exchange"><span>Compare</span></i></a>
                                                            {% if produit.livreprixCommande %}
                                                                <a title="Commander sur mesure, prix pour une commande sur mesure : {{ produit.livreprixCommande|number_format(2) }} £" href="{{ path('commande_mesures_new_item', {'id' : produit.id}) }}" class="wishlist"><i class="fa fa-pencil"><span>Commander sur mesure</span></i></a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title"> <a title="{{ produit.produit1Nom|capitalize }} - {{ produit.libelle|capitalize }}" href="{{ path('product', {'id' : produit.id}) }}">{{ produit.produit1Nom|capitalize }}-{{ produit.libelle|capitalize }}</a> </div>
                                                            <div class="item-content">
                                                                <div class="item-price">
                                                                    {% if produit.reduction == 0 %}
                                                                        <div class="price-box"> <span class="regular-price"> <span class="price">{{ prixReduction|number_format(2) }} £</span> </span> </div>
                                                                    {% else %}
                                                                    <div class="price-box">
                                                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price">{{ prixReduction|number_format(2) }} £</span> </p>
                                                                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price">{{ produit.livreprix|number_format(2) }} £</span> </p>
                                                                    </div>
                                                                    {% endif %}
                                                                </div>
                                                                <center>
                                                                    <div class="language-currency-wrapper left">
                                                                        <div class="inner-cl">
                                                                            <div class="block block-language form-language ">
                                                                                <div class="myaccount"><a href="{{ path('espace_marque', {'id' : produit.id}) }}" title="Aller à la marque {{ produit.produit1MarqueM|capitalize }}"><img src="{{ produit.produit1ImageAssetM|imagine_filter('marqueLogoThumb') }}" alt="">&nbsp;&nbsp;&nbsp;<span class="hidden-xs"> {{ produit.produit1MarqueM|capitalize }}</span></a></div>
                                                                                <ul>
                                                                                    <li>
                                                                                        <strong><a title="Voir tous les produits de la marque {{ produit.produit1MarqueM|capitalize }}" href="{{ path('espace_marque', {'id' : produit.id}) }}"><span class="hidden-xs">{{ produit.produit1MarqueM|capitalize }}</span></a></strong>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </center>
                                                                <div class="pro-action">
                                                                    <a href="{{ path('quickView', {'id' : produit.id}) }}">
                                                                        <button type="button" class="add-to-cart-mt"> <img src="{{ 'css/cart.jpg'|imagine_filter('rechercheThumbItem') }}" alt=""><span> Ajouter au panier</span> </button>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% set nbr = nbr + 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="slider-items-products tab-pane fade" id="top-sellers">
                        <div id="special-products-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4">
                                {% set nbr = 0 %}
                                {% for produit in reductions %}
                                    {% if produit.livreprix %}
                                        {% if nbr < 12 %}
                                            {% set prixReduction = 0 %}
                                            {% set prixReduction = produit.livreprix - (produit.livreprix * produit.reduction/100) %}

                                            <div class="product-item">
                                                <div class="item-inner">
                                                    <div class="product-thumb has-hover-img">
                                                        <figure>
                                                            <center>
                                                                {% for image in images %}
                                                                    {% if image.produit2 == produit.prod and image.top == 0 %}
                                                                        <a href="{{ path('product', {'id' : produit.id}) }}">
                                                                            <img src="{{ image.AssetPath |imagine_filter('resizeThumb') }}" alt="">
                                                                        </a>
                                                                        {% if image.path2 %}
                                                                        <a class="hover-img" href="{{ path('product', {'id' : produit.id}) }}">
                                                                            <img src="{{ image.AssetPath2 |imagine_filter('resizeThumb') }}" alt="">
                                                                        </a>
                                                                        {% endif %}
                                                                        {% if image.path3 %}
                                                                        <a class="hover-img" href="{{ path('product', {'id' : produit.id}) }}">
                                                                            <img src="{{ image.AssetPath3 |imagine_filter('resizeThumb') }}" alt="">
                                                                        </a>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </center>
                                                        </figure>
                                                        <div class="pr-info-area animated animate4">
                                                            <a title="Réserver ce produit" href="{{ path('quickView', {'id' : produit.id}) }}" class="quick-view"><i class="fa fa-save"><span>Reserver</span></i></a>
                                                            <a title="Ajouter aux souhaits" href="{{ path('quickView', {'id' : produit.id}) }}" class="wishlist"><i class="fa fa-heart"><span>Wishlist</span></i></a>
                                                            <a title="Comparer ce produit" href="{{ path('quickView', {'id' : produit.id}) }}" class="compare"><i class="fa fa-exchange"><span>Compare</span></i></a>
                                                            {% if produit.livreprixCommande %}
                                                                <a title="Commander sur mesure, prix pour une commande sur mesure : {{ produit.livreprixCommande|number_format(2) }} £" href="{{ path('commande_mesures_new_item', {'id' : produit.id}) }}" class="wishlist"><i class="fa fa-pencil"><span>Commander sur mesure</span></i></a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title"> <a title="{{ produit.produit1Nom|capitalize }} - {{ produit.libelle|capitalize }}" href="{{ path('product', {'id' : produit.id}) }}">{{ produit.produit1Nom|capitalize }}-{{ produit.libelle|capitalize }}</a> </div>
                                                            <div class="item-content">
                                                                <div class="item-price">
                                                                    {% if produit.reduction == 0 %}
                                                                        <div class="price-box"> <span class="regular-price"> <span class="price">{{ prixReduction|number_format(2) }} £</span> </span> </div>
                                                                    {% else %}
                                                                    <div class="price-box">
                                                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price">{{ prixReduction|number_format(2) }} £</span> </p>
                                                                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price">{{ produit.livreprix|number_format(2) }} £</span> </p>
                                                                    </div>
                                                                    {% endif %}
                                                                </div>
                                                                <center>
                                                                    <div class="language-currency-wrapper left">
                                                                        <div class="inner-cl">
                                                                            <div class="block block-language form-language ">
                                                                                <div class="myaccount"><a href="{{ path('espace_marque', {'id' : produit.id}) }}" title="Aller à la marque {{ produit.produit1MarqueM|capitalize }}"><img src="{{ produit.produit1ImageAssetM|imagine_filter('marqueLogoThumb') }}" alt="">&nbsp;&nbsp;&nbsp;<span class="hidden-xs"> {{ produit.produit1MarqueM|capitalize }}</span></a></div>
                                                                                <ul>
                                                                                    <li>
                                                                                        <strong><a title="Voir tous les produits de la marque {{ produit.produit1MarqueM|capitalize }}" href="{{ path('espace_marque', {'id' : produit.id}) }}"><span class="hidden-xs">{{ produit.produit1MarqueM|capitalize }}</span></a></strong>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </center>
                                                                <div class="pro-action">
                                                                    <a href="{{ path('quickView', {'id' : produit.id}) }}">
                                                                        <button type="button" class="add-to-cart-mt"> <img src="{{ 'css/cart.jpg'|imagine_filter('rechercheThumbItem') }}" alt=""><span> Ajouter au panier</span> </button>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% set nbr = nbr + 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% if popup|length == 0 and activate == 1 %}
     <!-- Beginning of the popup -->
     <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content" style="background-image: url('{{ asset('images/newsletter.jpg') }}'); background-repeat : no-repeat; background-size: 100% 100%;">
            <div class="modal-header">
                <div class="col-sm-11"><center><h4><label>Inscrivez vous et gagnez une réduction de 15% sur votre premier achat </label></h4> </center></div>
                <div class="col-sm-1"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
            </div>
            <div class="modal-body">
            <form action="{{ path("kountac_pop_up_registration") }}" method="post">
              {{ form_start(form) }} 
              {{ form_errors(form) }}
                <div class="col-sm-5">
                    <label>Votre identifiant</label><span class="required">*</span>
                </div><!--/ [col] -->
                <div class="col-sm-7">
                    {{ form_widget(form.username) }}
                </div><!--/ [col] -->
                <br><br>
                <div class="col-sm-5">
                    <label>Adresse email</label><span class="required">*</span>
                </div><!--/ [col] -->
                <div class="col-sm-7">
                    {{ form_widget(form.email) }}
                </div><!--/ [col] -->
                <br><br>
                <div class="col-sm-5">
                    <label>Code Parrain</label>
                </div><!--/ [col] -->
                <div class="col-sm-7">
                    {{ form_widget(form.codeparrain) }}
                </div><!--/ [col] -->
                <br><br>
                <div class="col-sm-5">
                    {{ form_label(form.plainPassword.first) }}<span class="required">*</span>
                </div>
                <div class="col-sm-7">
                    {{ form_widget(form.plainPassword.first) }}
                </div>
                <br><br>
                <div class="col-sm-5">
                    {{ form_label(form.plainPassword.second) }}<span class="required">*</span>
                </div>
                <div class="col-sm-7">
                    {{ form_widget(form.plainPassword.second) }}
                </div>
                <br><br><br>
                <div class="col-sm-12">
                    <label class="inline" for="newsletter">
                        {{ form_widget(form.newsletter) }} &nbsp; &nbsp; {{ form_label(form.newsletter) }}
                    </label>
                </div>
                <br>
                <div class="col-sm-12">
                    <label class="inline" for="condition">
                        <input type="checkbox" id="condition" name="_condition" value="on" required/> &nbsp; &nbsp; Acceptez les conditions d'utilisation
                    </label>
                </div>
                <br><br><br>
                <button class="button" type="submit"><span>Créez votre compte</span>&nbsp;<i class="icon-check"></i> </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Déjà un Compte ? <label><a href="{{ path("fos_user_security_login") }}">Se connecter</a></label>
               </form>
            </div>
           
          </div>

        </div>
      </div>
    <!-- End Pop up -->
    {% endif %}
    <!-- Begin Corresponding JS code -->
    <script type="text/javascript">
        var count=-1; // initially -1 as we are having a delay of 1000ms
        var counter=setInterval(timer, 1000); //1000 will  run it every 1 second
        function timer()
        {
          count=count+1;
          if (count >=60) {//+1 than the req time as we have a delay of 1000ms
            clearInterval(counter);
            $("#myModal").modal();
            return;
          }
            document.getElementById("timer").innerHTML=count + " secs"; // watch for spelling
        }
    
    </script>            
    <div class="container new-layout"  style="margin-top: 30px;">
        <div class="special-products">
            <div class="home-tab">
                <ul class="nav home-nav-tabs home-product-tabs">
                    <li class="active"><a href="#new" data-toggle="tab" aria-expanded="false">Nouveautés</a></li>
                    <li> <a href="#last-sellers" data-toggle="tab" aria-expanded="false">Dernières ventes</a> </li>
                </ul>
                <div class="special-products-pro tab-content">
                    <div class="slider-items-products tab-pane active in" id="new">
                        <div id="special-products-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4">
                                {% set nbr = 0 %}
                                {% for produit in nouveaux %}
                                    {% if produit.livreprix %}
                                        {% if nbr < 12 %}
                                            {% set prixReduction = 0 %}
                                            {% set prixReduction = produit.livreprix - (produit.livreprix * produit.reduction/100) %}

                                            <div class="product-item">
                                                <div class="item-inner">
                                                    <div class="product-thumb has-hover-img">
                                                        <figure>
                                                            <center>
                                                                {% for image in images %}
                                                                    {% if image.produit2 == produit.prod and image.top == 0 %}
                                                                        <a href="{{ path('product', {'id' : produit.id}) }}">
                                                                            <img src="{{ image.AssetPath |imagine_filter('resizeThumb') }}" alt="">
                                                                        </a>
                                                                        {% if image.path2 %}
                                                                        <a class="hover-img" href="{{ path('product', {'id' : produit.id}) }}">
                                                                            <img src="{{ image.AssetPath2 |imagine_filter('resizeThumb') }}" alt="">
                                                                        </a>
                                                                        {% endif %}
                                                                        {% if image.path3 %}
                                                                        <a class="hover-img" href="{{ path('product', {'id' : produit.id}) }}">
                                                                            <img src="{{ image.AssetPath3 |imagine_filter('resizeThumb') }}" alt="">
                                                                        </a>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </center>
                                                        </figure>
                                                        <div class="pr-info-area animated animate4">
                                                            <a title="Réserver ce produit" href="{{ path('quickView', {'id' : produit.id}) }}" class="quick-view"><i class="fa fa-save"><span>Reserver</span></i></a>
                                                            <a title="Ajouter aux souhaits" href="{{ path('quickView', {'id' : produit.id}) }}" class="wishlist"><i class="fa fa-heart"><span>Wishlist</span></i></a>
                                                            <a title="Comparer ce produit" href="{{ path('quickView', {'id' : produit.id}) }}" class="compare"><i class="fa fa-exchange"><span>Compare</span></i></a>
                                                            {% if produit.livreprixCommande %}
                                                                <a title="Commander sur mesure, prix pour une commande sur mesure : {{ produit.livreprixCommande|number_format(2) }} £" href="{{ path('commande_mesures_new_item', {'id' : produit.id}) }}" class="wishlist"><i class="fa fa-pencil"><span>Commander sur mesure</span></i></a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title"> <a title="{{ produit.produit1Nom|capitalize }} - {{ produit.libelle|capitalize }}" href="{{ path('product', {'id' : produit.id}) }}">{{ produit.produit1Nom|capitalize }}-{{ produit.libelle|capitalize }}</a> </div>
                                                            <div class="item-content">
                                                                <div class="item-price">
                                                                    {% if produit.reduction == 0 %}
                                                                        <div class="price-box"> <span class="regular-price"> <span class="price">{{ prixReduction|number_format(2) }} £</span> </span> </div>
                                                                    {% else %}
                                                                    <div class="price-box">
                                                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price">{{ prixReduction|number_format(2) }} £</span> </p>
                                                                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price">{{ produit.livreprix|number_format(2) }} £</span> </p>
                                                                    </div>
                                                                    {% endif %}
                                                                </div>
                                                                <center>
                                                                    <div class="language-currency-wrapper left">
                                                                        <div class="inner-cl">
                                                                            <div class="block block-language form-language ">
                                                                                <div class="myaccount"><a href="{{ path('espace_marque', {'id' : produit.id}) }}" title="Aller à la marque {{ produit.produit1MarqueM|capitalize }}"><img src="{{ produit.produit1ImageAssetM|imagine_filter('marqueLogoThumb') }}" alt="">&nbsp;&nbsp;&nbsp;<span class="hidden-xs"> {{ produit.produit1MarqueM|capitalize }}</span></a></div>
                                                                                <ul>
                                                                                    <li>
                                                                                        <strong><a title="Voir tous les produits de la marque {{ produit.produit1MarqueM|capitalize }}" href="{{ path('espace_marque', {'id' : produit.id}) }}"><span class="hidden-xs">{{ produit.produit1MarqueM|capitalize }}</span></a></strong>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </center>
                                                                <div class="pro-action">
                                                                    <a href="{{ path('quickView', {'id' : produit.id}) }}">
                                                                        <button type="button" class="add-to-cart-mt"> <img src="{{ 'css/cart.jpg'|imagine_filter('rechercheThumbItem') }}" alt=""><span> Ajouter au panier</span> </button>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% set nbr = nbr + 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="slider-items-products tab-pane fade" id="last-sellers">
                        <div id="special-products-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4">

                                {% set nbr = 0 %}
                                {% for produit in dernieresVentes %}
                                    {% if produit.livreprix %}
                                        {% if nbr < 12 %}
                                            {% set prixReduction = 0 %}
                                            {% set prixReduction = produit.livreprix - (produit.livreprix * produit.reduction/100) %}

                                            <div class="product-item">
                                                <div class="item-inner">
                                                    <div class="product-thumb has-hover-img">
                                                        <figure>
                                                            <center>
                                                                {% for image in images %}
                                                                    {% if image.produit2 == produit.prod and image.top == 0 %}
                                                                        <a href="{{ path('product', {'id' : produit.id}) }}">
                                                                            <img src="{{ image.AssetPath |imagine_filter('resizeThumb') }}" alt="">
                                                                        </a>
                                                                        {% if image.path2 %}
                                                                        <a class="hover-img" href="{{ path('product', {'id' : produit.id}) }}">
                                                                            <img src="{{ image.AssetPath2 |imagine_filter('resizeThumb') }}" alt="">
                                                                        </a>
                                                                        {% endif %}
                                                                        {% if image.path3 %}
                                                                        <a class="hover-img" href="{{ path('product', {'id' : produit.id}) }}">
                                                                            <img src="{{ image.AssetPath3 |imagine_filter('resizeThumb') }}" alt="">
                                                                        </a>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </center>
                                                        </figure>
                                                        <div class="pr-info-area animated animate4">
                                                            <a title="Réserver ce produit" href="{{ path('quickView', {'id' : produit.id}) }}" class="quick-view"><i class="fa fa-save"><span>Reserver</span></i></a>
                                                            <a title="Ajouter aux souhaits" href="{{ path('quickView', {'id' : produit.id}) }}" class="wishlist"><i class="fa fa-heart"><span>Wishlist</span></i></a>
                                                            <a title="Comparer ce produit" href="{{ path('quickView', {'id' : produit.id}) }}" class="compare"><i class="fa fa-exchange"><span>Compare</span></i></a>
                                                            {% if produit.livreprixCommande %}
                                                                <a title="Commander sur mesure, prix pour une commande sur mesure : {{ produit.livreprixCommande|number_format(2) }} £" href="{{ path('commande_mesures_new_item', {'id' : produit.id}) }}" class="wishlist"><i class="fa fa-pencil"><span>Commander sur mesure</span></i></a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title"> <a title="{{ produit.produit1Nom|capitalize }} - {{ produit.libelle|capitalize }}" href="{{ path('product', {'id' : produit.id}) }}">{{ produit.produit1Nom|capitalize }}-{{ produit.libelle|capitalize }}</a> </div>
                                                            <div class="item-content">
                                                                <div class="item-price">
                                                                    {% if produit.reduction == 0 %}
                                                                        <div class="price-box"> <span class="regular-price"> <span class="price">{{ prixReduction|number_format(2) }} £</span> </span> </div>
                                                                    {% else %}
                                                                    <div class="price-box">
                                                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price">{{ prixReduction|number_format(2) }} £</span> </p>
                                                                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price">{{ produit.livreprix|number_format(2) }} £</span> </p>
                                                                    </div>
                                                                    {% endif %}
                                                                </div>
                                                                <center>
                                                                    <div class="language-currency-wrapper left">
                                                                        <div class="inner-cl">
                                                                            <div class="block block-language form-language ">
                                                                                <div class="myaccount"><a href="{{ path('espace_marque', {'id' : produit.id}) }}" title="Aller à la marque {{ produit.produit1MarqueM|capitalize }}"><img src="{{ produit.produit1ImageAssetM|imagine_filter('marqueLogoThumb') }}" alt="">&nbsp;&nbsp;&nbsp;<span class="hidden-xs"> {{ produit.produit1MarqueM|capitalize }}</span></a></div>
                                                                                <ul>
                                                                                    <li>
                                                                                        <strong><a title="Voir tous les produits de la marque {{ produit.produit1MarqueM|capitalize }}" href="{{ path('espace_marque', {'id' : produit.id}) }}"><span class="hidden-xs">{{ produit.produit1MarqueM|capitalize }}</span></a></strong>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </center>
                                                                <div class="pro-action">
                                                                    <a href="{{ path('quickView', {'id' : produit.id}) }}">
                                                                        <button type="button" class="add-to-cart-mt"> <img src="{{ 'css/cart.jpg'|imagine_filter('rechercheThumbItem') }}" alt=""><span> Ajouter au panier</span> </button>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% set nbr = nbr + 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- End code by ChrisME -->

<div class="main-container col1-layout">
    <div class="container">
        <div class="special-products">
            <div class="page-header">
                <h2>Tous nos produits</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-main col-sm-12 col-xs-12">
                <div class="shop-inner">
                    {% if produits2|length != 0 %}
                        <div class="product-grid-area">
                            <ul class="products-grid">
                                {% for produit in produits2 %}
                                    {% if produit.livreprix %}
                                    {% set prixReduction = 0 %}
                                    {% set prixReduction = produit.livreprix - (produit.livreprix * produit.reduction/100) %}
                                     <li class="item col-lg-3 col-md-4 col-sm-6 col-xs-6  ">
                                        <div class="product-item">
                                            <div class="item-inner">
                                                <div class="product-thumb has-hover-img">

                                                        <figure>
                                                            <center>
                                                                {% for image in images %}
                                                                    {% if image.produit2 == produit and image.top == 0 %}
                                                                    <a href="{{ path('product', {'id' : produit.id}) }}">
                                                                        <img src="{{ image.AssetPath |imagine_filter('resizeThumb') }}" alt="">
                                                                    </a>
                                                                    {% if image.path2 %}
                                                                    <a class="hover-img" href="{{ path('product', {'id' : produit.id}) }}">
                                                                        <img src="{{ image.AssetPath2 |imagine_filter('resizeThumb') }}" alt="">
                                                                    </a>
                                                                    {% endif %}
                                                                    {% if image.path3 %}
                                                                    <a class="hover-img" href="{{ path('product', {'id' : produit.id}) }}">
                                                                        <img src="{{ image.AssetPath3 |imagine_filter('resizeThumb') }}" alt="">
                                                                    </a>
                                                                    {% endif %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </center>
                                                        </figure>

                                                    <div class="pr-info-area animated animate4">
                                                        <a title="Réserver ce produit" href="{{ path('quickViewAllProducts', {'id' : produit.id}) }}" class="quick-view"><i class="fa fa-save"><span>Reserver</span></i></a>
                                                        <a title="Ajouter aux souhaits" href="{{ path('quickViewAllProducts', {'id' : produit.id}) }}" class="wishlist"><i class="fa fa-heart"><span>Wishlist</span></i></a>
                                                        <a title="Comparer ce produit" href="{{ path('quickViewAllProducts', {'id' : produit.id}) }}" class="compare"><i class="fa fa-exchange"><span>Compare</span></i></a>
                                                        {% if produit.allprixCommande %}
                                                            <a title="Commander sur mesure, prix pour une commande sur mesure : {{ produit.allprixCommande|number_format(2) }} £" href="{{ path('commande_mesures_new_item', {'id' : produit.id}) }}" class="wishlist"><i class="fa fa-pencil"><span>Commander sur mesure</span></i></a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="item-info">
                                                    <div class="info-inner">
                                                        <div class="item-title"> <a title="{{ produit.produit1.nom|capitalize }} - {{ produit.libelle.libelle|capitalize }}" href="{{ path('product', {'id' : produit.id}) }}">{{ produit.produit1.nom|capitalize }} - {{ produit.libelle.libelle|capitalize }}</a> </div>
                                                        <div class="item-content">
                                                            <div class="item-price">
                                                                {% if produit.reduction == 0 %}
                                                                    <div class="price-box"> <span class="regular-price"> <span class="price">{{ prixReduction|number_format(2) }} £</span> </span> </div>
                                                                {% else %}
                                                                    <div class="price-box">
                                                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price">{{ prixReduction|number_format(2) }} £</span> </p>
                                                                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price">{{ produit.livreprix|number_format(2) }} £</span> </p>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                            <center>
                                                                <div class="language-currency-wrapper left">
                                                                    <div class="inner-cl">
                                                                        <div class="block block-language form-language ">
                                                                          <div class="myaccount">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="{{ path('espace_marque', {'id' : produit.id}) }}" title="Aller à la marque {{ produit.produit1.marque.marque|capitalize }}"><img src="{{ produit.produit1.marque.image.AssetPath|imagine_filter('marqueLogoThumb') }}" alt="">&nbsp;&nbsp;&nbsp;<span class="hidden-xs"> {{ produit.produit1.marque.marque|capitalize }}</span></a></div>
                                                                            <ul>
                                                                                <li>
                                                                                    <strong><a title="Voir tous les produits de la marque {{ produit.produit1.marque.marque|capitalize }}" href="{{ path('espace_marque', {'id' : produit.id}) }}"><span class="hidden-xs">{{ produit.produit1.marque.marque|capitalize }}</span></a></strong>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </center>
                                                            <div class="pro-action">
                                                                <a href="{{ path('quickViewAllProducts', {'id' : produit.id}) }}">
                                                                    <button type="button" class="add-to-cart-mt"> <img src="{{ 'css/cart.jpg'|imagine_filter('rechercheThumbItem') }}" alt=""><span> Ajouter au panier</span> </button>
                                                                </a>                                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endif %}
                                {% endfor %}

                        </div>
                        <div class="col-lg-6 col-lg-offset-3 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
