{% extends "::base.html.twig" %}

{% block head %}
  {{ parent() }}
  <title>Kountac | The new made in Africe | Mode, Art, Déco d'Afrique</title>
  <meta name="description" content="description" content="achat et vente en ligne où que vous soyez | Chemises, Blazers, Pulls et Gillets, vêtements, Bagages, Ballerines, Jeans, Pantalons, Baskets, Chaussures, Boucles, Bracelet, Cartable, sacs..." />
{% endblock %}

{% block body %}
    <!-- Home Slider Start -->
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert-box">
            <br>
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div id="home-section" class="slider1">
        <div class="tp-banner-container">
            <div class="tp-banner" >
                <ul>
                    <!-- SLIDE  -->
                    {% include 'KountacBundle:Default:pages/slider/slider.html.twig' %}
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
    </div>
    <!-- End home section -->

    <!-- main container -->
    <div class="main-container col1-layout">

    <div class="container">
    </div>
      <!--Newsletter Popup Start-->
  <div id="myModal" class="modal fade">
    <div class="modal-dialog newsletter-popup">
      <div class="modal-content">
        <div class="modal-body">
          <h4 class="modal-title">Choisir un pays</h4><br><br>
          <form id="newsletter-form" method="post" action="#">
            <div class="content-subscribe">
              <div class="form-subscribe-header">
                <div class="block block-currency">
                    <ul>
                        <a href="{{ path('kountac_devise_euro') }}" class="btn btn-warning btn-2g">
                            <img src="{{ asset('images/flag-default.jpg') }}" alt="français">
                            &nbsp;France
                             <span class="glyphicon glyphicon-euro"></span>
                        </a>
                        <br><br>
                        <a href="{{ path('kountac_devise_all') }}" class="btn btn-danger btn-2g">
                            <img src="{{ asset('images/flag-german.jpg') }}" alt="Allemagne">
                            &nbsp;Allemagne
                             <span class="glyphicon glyphicon-euro"></span>
                        </a>
                        <br><br>
                        <a href="{{ path('kountac_devise_livre') }}" class="btn btn-info btn-2g">
                            <img src="{{ asset('images/flag-english.jpg') }}" alt="Angleterre">
                            &nbsp;Angleterre
                             <span class="glyphicon glyphicon-gbp"></span>
                        </a>
                        <br><br>
                        <a href="{{ path('kountac_devise_cfa') }}" class="btn btn-primary btn-2g">
                            <img src="{{ asset('images/flag-cameroon.jpg') }}" alt="Cameroun">
                            &nbsp;Cameroun
                             F CFA
                        </a>
                        <br><br>
                        <a href="{{ path('kountac_devise_usa') }}" class="btn btn-success btn-2g">
                            <img src="{{ asset('images/flag-usa.jpg') }}" alt="USA">
                            &nbsp;Etats-unis d'Amérique
                             <span class="glyphicon glyphicon-usd"></span>
                        </a>
                        <br><br>
                        <a href="{{ path('kountac_devise_naira') }}" class="btn btn-default btn-2g">
                            <img src="{{ asset('images/flag-nigeria.jpg') }}" alt="Nigeria">
                            &nbsp;Nigeria
                             ₦
                        </a>
                    </ul>
                </div>
              </div>

            </div>
          </form>
       </div>
      </div>
    </div>
  </div>
  <!--End of Newsletter Popup-->
</div>
{% endblock %}
