{% extends "@FOSUser/layoutAdmin.html.twig" %}

{% block bodyAdmin %}
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li class="home"> <a title="Aller à la page d'accueil" href="{{ path('kountac_homepage')}}">Home</a><span>&raquo;</span></li>
                        <li class="home"> <a title="Aller à mon profil" href="{{ path('admin_profile_show')}}">Mon profil (admin)</a><span>&raquo;</span></li>
                        <li><strong>Toutes les catégories</strong></li>
                    </ul>
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert-box">
                            <br><br>
                            {{ flashMessage }}
                            <br><br>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs End -->
    
<section class="main-container col2-right-layout">
  <div class="main container">
    <div class="row">
      <div class="col-main col-sm-9 col-xs-12">
        <div class="col-main">
                <div class="cart">
                        <div class="page-content page-order"><div class="page-title">
                            {% if categories|length != 0 %}
                                <h2>Liste de toutes les catégories</h2>
                            {% endif %}
                        </div>

                        <div class="order-detail-content">
                        {% if categories|length == 0 %}
                            <div>
                                <table>
                                    <tr>
                                        <td><center><h1>Liste de catégories vide !! Aucune catégorie à afficher</h1></center></td>
                                    </tr>
                                </table>
                                <div class="cart_navigation"> <a class="continue-btn" href="{{ path('produit_pro_new') }}"><i class="fa fa-arrow-left"> </i>&nbsp; Ajoutez un nouveau produit</a> </div>
                            </div>  
                        {% else %}
                            <div class="table-responsive">
                                <table class="table table-bordered cart_summary">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Description</th>
                                            <th class="action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for categorie in categories %}
                                            <tr>
                                                <td class="action"><a> {{ categorie.id }} </a></td>
                                                <td class="cart_description"><p class="product-name"><a>{{ categorie.nom|capitalize }} </a></p><br>
                                                    {% if categorie.parent.nom is defined %}<small><a><u>Catégorie parente</u> : {{ categorie.parent|capitalize }}</a></small><br>{% endif %}
                                                    {% if categorie.children|length != 0 %}<small><a><u>Catégorie(s) fille(s)</u> : {% for children in categorie.children %} {{ children.nom|capitalize }}, {% endfor %}</a></small><br>{% endif %}
                                                </td>
                                                <td class="action">
                                                    <a title="Modifiez catégorie {{ categorie.nom|capitalize }} " href="{{ path('adminCategories_edit', {'id' : categorie.id}) }}"><i class="fa fa-pencil"></i></a><br>
                                                    <br><a title="Retirez {{ categorie.nom|capitalize }} de vos catégories" href="{{ path('adminCategories_delete', {'id' : categorie.id}) }}"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="cart_navigation"> <a class="continue-btn" href="{{ path('adminCategories_new') }}"><i class="fa fa-arrow-left"> </i>&nbsp; Ajoutez une catégorie</a> </div>
                        <div class="pagination-area ">
                        </div>
                            <center>
                                {{ knp_pagination_render(categories) }}
                            </center>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <aside class="right sidebar col-sm-3 col-xs-12">
        {% include 'FOSUserBundle:Profile:Navigation/menuAdmin.html.twig' %}
        <br><br>
        {% include 'FOSUserBundle:Profile:Navigation/informationsPro.html.twig' %}
      </aside>
    </div>
  </div>
  </section>
   
{% endblock %}
