<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Aller à la page d'accueil" href="{{ path('kountac_homepage')}}">Home</a><span>&raquo;</span></li>
                    <li class="home"> <a title="Aller à mon profil professionnel" href="{{ path('pro_user_profile_show')}}">Mon profil</a><span>&raquo;</span></li>
                    <li class="home"> <a title="Voir tous mes produits" href="{{ path('produit_pro_index')}}">Mes produits</a><span>&raquo;</span></li>
                    <li class="home"> <a title="Ajouter un nouveau produit" href="{{ path('produit_pro_new_1')}}">Nouveau produit</a><span>&raquo;</span></li>
                    <li><strong>Nouveau motif</strong></li>
                </ul>
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert-box">
                        <br><br>
                        {{ flashMessage }}
                        <br><br>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End --> 
{% trans_default_domain 'FOSUserBundle' %}
<!-- Main Container -->
<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-12 col-xs-12">  
                <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                    <li> <a href="{{ path('produit_pro_new_edit1', { 'id' : produit_1.id }) }}" data-toggle="tab"> Information générale </a> </li>                
                    <li class="active"><a>Couleurs</a></li>
                    <li><a>Photos mannequin</a> </li>
                    <li><a>Stocks par motif</a> </li>
                </ul>
                <br><br>
            </div>
            <div class="col-main col-sm-9 col-xs-12">
                <div class="page-content checkout-page">
                    <ul id="product-detail-tab" class="nav nav-tabs product-tabs btn-md">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-success btn-md" href="#ajout" data-toggle="tab">&nbsp; <strong>&nbsp; Ajout ... &nbsp;</strong> &nbsp;</a> 
                        {% for motif in produit_1.produit2 %}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-default btn-md" href="#{{ motif.libelle }}" data-toggle="tab">&nbsp; {{ motif.libelle.libelle|capitalize }} &nbsp;</a> 
                        {% endfor %}
                    </ul>

                    <div id="productTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="ajout">
                            <div class="box-border">
                                <ul>
                                    <li class="row">
                                        {{ form_start(form) }}
                                        {{ form_errors(form) }}
                                        <div class="col-sm-3">
                                            {{ form_row(form.libelle) }}
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="top-cart-contain">
                                                <div class="mini-cart">
                                                    <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> 
                                                        <a href>
                                                            <div class="cart-icon">&nbsp; Voir motifs</div>
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <div class="top-cart-content">
                                                            <div class="block-subtitle hidden-xs"></div>
                                                            <ul id="cart-sidebar" class="mini-products-list">
                                                                {% for libelle in libelles %}
                                                                    <li class="item last odd"> 
                                                                        <a title="{{ libelle.libelle|capitalize }}" class="product-image">
                                                                            <img src="{{ libelle.AssetPath|imagine_filter('cartThumbMenuItem') }}" alt="">
                                                                        </a>
                                                                        <div class="product-details">
                                                                            <p class="product-name">
                                                                                <a>{{ libelle.libelle|capitalize }}</a> 
                                                                            </p>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <br>

                                    <li class="row">
                                        <div class="col-sm-3">
                                            {{ form_row(form.etat) }}
                                        </div>
                                        <div class="col-sm-2">
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(form.reduction) }}
                                        </div><!--/ [col] -->
                                    </li>
                                    <br>
                                    <h3 class="checkout-step">Vendez en France (€)</h3>
                                    <br>
                                    <li class="row">
                                        <div class="col-sm-2">
                                            {{ form_row(form.europrix) }}
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                        <div class="col-sm-5">
                                            {{ form_row(form.europrixCommande) }}
                                        </div>
                                        <div class="col-sm-4">
                                            {{ form_label(form.europrecommande) }}
                                            {{ form_row(form.europrecommande.0) }}
                                            {{ form_row(form.europrecommande.1) }}
                                        </div>
                                    </li>
                                    <br>
                                    <h3 class="checkout-step">Vendez au Cameroun  (F CFA)</h3>
                                    <br>
                                    <li class="row">
                                        <div class="col-sm-2">
                                            {{ form_row(form.cfaprix) }}
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                        <div class="col-sm-5">
                                            {{ form_row(form.cfaprixCommande) }}
                                        </div>
                                        <div class="col-sm-4">
                                            {{ form_label(form.cfaprecommande) }}
                                            {{ form_row(form.cfaprecommande.0) }}
                                            {{ form_row(form.cfaprecommande.1) }}
                                        </div>
                                    </li>
                                    <br>
                                    <h3 class="checkout-step">Vendez en Angleterre (£)</h3>
                                    <br>
                                    <li class="row">
                                        <div class="col-sm-2">
                                            {{ form_row(form.livreprix) }}
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                        <div class="col-sm-5">
                                            {{ form_row(form.livreprixCommande) }}
                                        </div>
                                        <div class="col-sm-4">
                                            {{ form_label(form.livreprecommande) }}
                                            {{ form_row(form.livreprecommande.0) }}
                                            {{ form_row(form.livreprecommande.1) }}
                                        </div>
                                    </li>
                                    <br>
                                    <h3 class="checkout-step">Vendez en Allemagne (€)</h3>
                                    <br>
                                    <li class="row">
                                        <div class="col-sm-2">
                                            {{ form_row(form.allprix) }}
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                        <div class="col-sm-5">
                                            {{ form_row(form.allprixCommande) }}
                                        </div>
                                        <div class="col-sm-4">
                                            {{ form_label(form.allprecommande) }}
                                            {{ form_row(form.allprecommande.0) }}
                                            {{ form_row(form.allprecommande.1) }}
                                        </div>
                                    </li>
                                    <br>
                                    <h3 class="checkout-step">Vendez aux Etats-unis d'Amérique ($)</h3>
                                    <br>
                                    <li class="row">
                                        <div class="col-sm-2">
                                            {{ form_row(form.usaprix) }}
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                        <div class="col-sm-5">
                                            {{ form_row(form.usaprixCommande) }}
                                        </div>
                                        <div class="col-sm-4">
                                            {{ form_label(form.usaprecommande) }}
                                            {{ form_row(form.usaprecommande.0) }}
                                            {{ form_row(form.usaprecommande.1) }}
                                        </div>
                                    </li>
                                    <br>
                                    <h3 class="checkout-step">Vendez au Nigéria (₦)</h3>
                                    <br>
                                    <li class="row">
                                        <div class="col-sm-2">
                                            {{ form_row(form.nairaprix) }}
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                        <div class="col-sm-5">
                                            {{ form_row(form.nairaprixCommande) }}
                                        </div>
                                        <div class="col-sm-4">
                                            {{ form_label(form.nairaprecommande) }}
                                            {{ form_row(form.nairaprecommande.0) }}
                                            {{ form_row(form.nairaprecommande.1) }}
                                        </div>
                                    </li>
                                    <br>
                                    <li>
                                        <button class="button pull-left" type="submit"> &nbsp;<span>Ajouter le nouveau motif &nbsp; &nbsp;<i class="fa fa-check"></i></span></button>
                                    </li>
                                </ul>
                                {{ form_end(form) }}
                            </div>

                        </div>

                        {% for motif in produit_1.produit2 %}
                            <div class="tab-pane fade" id="{{ motif.libelle }}">
                                <div class="box-border">
                                    {% render(controller('UtilisateursBundle:Formulaires:motifsForm', { 'id': motif.id })) %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>


                    {% for produit in produit_1.produit2 %}
                        {% if loop.first %}
                            <a href="{{ path('produit_pro_new_3', { 'id' : produit.id }) }}"><button class="button pull-right">&nbsp;<span>Continuer</span>&nbsp; &nbsp;<i class="fa fa-angle-double-right"></i></button></a><br><br>
                                {% endif %}
                            {% endfor %}
                </div>
            </div>
            <aside class="right sidebar col-sm-3 col-xs-12">
                {% include 'FOSUserBundle:Profile:Navigation/menuPro.html.twig' %}
                <br><br>
                {% include 'FOSUserBundle:Profile:Navigation/informationsPro.html.twig' %}
            </aside>
        </div>

    </div>
</div>
</section>
<script type="text/javascript">
    function masquer_div(id)
    {
        if (document.getElementById(id).style.display == 'none')
        {
            document.getElementById(id).style.display = 'block';
        } else
        {
            document.getElementById(id).style.display = 'none';
        }
    }
</script>