{% set i = 1 %}
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Aller à la page d'accueil" href="{{ path('kountac_homepage')}}">Home</a><span>&raquo;</span></li>
                    <li class="home"> <a title="Aller à mon profil professionnel" href="{{ path('pro_user_profile_show')}}">Mon profil</a><span>&raquo;</span></li>
                    <li class="home"> <a title="Voir tous mes produits" href="{{ path('produit_pro_index')}}">Mes produits</a><span>&raquo;</span></li>
                    <li><strong>Résumé produit</strong></li>
                </ul>
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert-box">
                        <br><br>
                        {{ flashMessage }}
                        <br><br>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End --> 
{% trans_default_domain 'FOSUserBundle' %}
<!-- Main Container -->
<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-9 col-xs-12">
                <div class="page-content checkout-page">
                    <div class="page-title">
                        <h2 class="checkout-step">Récapitulatif produit</h2>
                    </div>
                    
                    <div class="box-border">
                        <ul>
                            <li class="row">
                                <div class="col-sm-12">
                                     <label>Nom :</label> {{ produit.nom|capitalize }}
                                </div>
                            </li>
                            <br>
                            <li class="row">
                                <div class="col-sm-6">
                                    <label>Catégorie :</label> {% if produit.categorie.parent %}{% endif %}{{ produit.categorie|capitalize }}
                                </div><!--/ [col] -->
                                <div class="col-sm-6">
                                     <label>Collection :</label> {{ produit.collection.nom|capitalize }}
                                </div><!--/ [col] -->
                            </li>
                            <br>
                            <li class="row"> 
                                <div class="col-xs-12">
                                    <label>Description :</label> {{ produit.description|capitalize }}
                                </div><!--/ [col] -->
                            </li><!-- / .row -->
                            {% if produit.conditionsUtilisation %}
                            <br>
                            <li class="row"> 
                                <div class="col-xs-12">
                                    <label>Conditions d'utilisation :</label> {{ produit.conditionsUtilisation|capitalize }}
                                </div><!--/ [col] -->
                            </li><!-- / .row -->
                            {% endif %}
                            <br>
                            <li class="row">
                                <div class="col-sm-6">
                                    <label>Matière :</label> {{ produit.matiere|capitalize }}
                                </div><!--/ [col] -->
                            </li>
                            {% for produit2 in produit.produit2 %}
                            <br>
                            *****************************************************************************************************
                            <br>
                            <label>Motif : <img src="{{ produit2.libelle.AssetPath|imagine_filter('MotifThumb') }}" alt="">&nbsp; &nbsp;&nbsp; &nbsp;{{ produit2.libelle.libelle|upper }}</label> {% if produit2.reduction ==  0 %} (Pas de réduction) {% else %} (Réduction - {{ produit2.reduction }}%) {% endif %}
                            <br>
                            <br><br>
                            <li class="row">
                                <div class="col-sm-3">
                                    Disponible en France ? : {% if produit2.europrix %}OUI {% else %}NON {% endif %}
                                </div>
                                {% if produit2.europrix %}
                                <div class="col-sm-2">
                                    Prix : {{ produit2.europrix }} €
                                </div>
                                {% endif %}
                                {% if produit2.europrixCommande %}
                                    <div class="col-sm-3">
                                        Prix commande : {{ produit2.europrixCommande }} €
                                    </div>
                                {% else %}
                                    Pas de commande sur mesure pour ce produit
                                {% endif %}
                                    <div class="col-sm-3">
                                        Précommande : {% if produit2.europrecommande %} NON {% else %} OUI {% endif %}
                                    </div>
                            </li>
                            <br><br>
                            <li class="row">
                                <div class="col-sm-3">
                                    Disponible en Angleterre ? : {% if produit2.livreprix %}OUI {% else %}NON {% endif %}
                                </div>
                                {% if produit2.livreprix %}
                                <div class="col-sm-2">
                                    Prix : {{ produit2.livreprix }} £
                                </div>
                                {% endif %}
                                {% if produit2.livreprixCommande %}
                                    <div class="col-sm-3">
                                        Prix commande : {{ produit2.livreprixCommande }} £
                                    </div>
                                {% else %}
                                    Pas de commande sur mesure pour ce produit
                                {% endif %}
                                    <div class="col-sm-3">
                                        Précommande : {% if produit2.livreprecommande %} NON {% else %} OUI {% endif %}
                                    </div>
                            </li>
                            <br><br>
                            <li class="row">
                                <div class="col-sm-3">
                                    Disponible en Allemagne? : {% if produit2.europrix %}OUI {% else %}NON {% endif %}
                                </div>
                                {% if produit2.allprix %}
                                <div class="col-sm-2">
                                    Prix : {{ produit2.allprix }} €
                                </div>
                                {% endif %}
                                {% if produit2.allprixCommande %}
                                    <div class="col-sm-3">
                                        Prix commande : {{ produit2.allprixCommande }} €
                                    </div>
                                {% else %}
                                    Pas de commande sur mesure pour ce produit
                                {% endif %}
                                    <div class="col-sm-3">
                                        Précommande : {% if produit2.allprecommande %} NON {% else %} OUI {% endif %}
                                    </div>
                            </li>
                            <br><br>
                            <li class="row">
                                <div class="col-sm-3">
                                    Disponible aux Etats-unis d'Amérique ? : {% if produit2.usaprix %}OUI {% else %}NON {% endif %}
                                </div>
                                {% if produit2.usaprix %}
                                <div class="col-sm-2">
                                    Prix : {{ produit2.usaprix }} $
                                </div>
                                {% endif %}
                                {% if produit2.usaprixCommande %}
                                    <div class="col-sm-3">
                                        Prix commande : {{ produit2.usaprixCommande }} $
                                    </div>
                                {% else %}
                                    Pas de commande sur mesure pour ce produit
                                {% endif %}
                                    <div class="col-sm-3">
                                        Précommande : {% if produit2.usaprecommande %} NON {% else %} OUI {% endif %}
                                    </div>
                            </li>
                            <br><br>
                            <li class="row">
                                <div class="col-sm-3">
                                    Disponible au Cameroun ? : {% if produit2.cfaprix %}OUI {% else %}NON {% endif %}
                                </div>
                                {% if produit2.cfaprix %}
                                <div class="col-sm-2">
                                    Prix : {{ produit2.cfaprix }} F CFA
                                </div>
                                {% endif %}
                                {% if produit2.cfaprixCommande %}
                                    <div class="col-sm-3">
                                        Prix commande : {{ produit2.cfaprixCommande }} F CFA
                                    </div>
                                {% else %}
                                    Pas de commande sur mesure pour ce produit
                                {% endif %}
                                    <div class="col-sm-3">
                                        Précommande : {% if produit2.cfaprecommande %} NON {% else %} OUI {% endif %}
                                    </div>
                            </li>
                            <br><br>
                            <li class="row">
                                <div class="col-sm-3">
                                    Disponible au Nigéria ? : {% if produit2.nairaprix %}OUI {% else %}NON {% endif %}
                                </div>
                                {% if produit2.nairaprix %}
                                <div class="col-sm-2">
                                    Prix : {{ produit2.nairaprix }} ₦
                                </div>
                                {% endif %}
                                {% if produit2.nairaprixCommande %}
                                    <div class="col-sm-3">
                                        Prix commande : {{ produit2.nairaprixCommande }} ₦
                                    </div>
                                {% else %}
                                    Pas de commande sur mesure pour ce produit
                                {% endif %}
                                    <div class="col-sm-3">
                                        Précommande : {% if produit2.nairaprecommande %} NON {% else %} OUI {% endif %}
                                    </div>
                            </li>
                            {% for produit3 in produit2.produit3 %}
                              <li class="row">
                                <div class="col-sm-2">
                                    Taille : {{ produit3.taille|upper }}
                                </div>
                                <div class="col-sm-2">
                                    Stock : {{ produit3.stock }}
                                </div>
                            </li>
                            {% endfor %}
                            <br>
                            {% for mannequin in mannequins %}
                                {% for image in mannequin.picture %}
                                    {% if image.produit2 == produit2 %}
                                    <label>Mannequin : {{ image.mannequin.nomMannequin|upper }} <img src="{{ image.mannequin.AssetPath|imagine_filter('MotifThumb') }}" alt=""></label> (taille standard: {{ image.mannequin.tailleStandardMannequin }}, poids: {{ image.mannequin.poidsMannequin }}Kg, Taille: {{ image.mannequin.tailleMannequin }}m) 
                                        <li class="row">
                                            <div class="col-sm-2">
                                                <label class="required">Première image*</label>
                                                <br><img src="{{ image.AssetPath|imagine_filter('commandeThumb') }}" alt="">
                                            </div>
                                            {% if image.path2 %}
                                            <div class="col-sm-2">
                                                <label class="required">Seconde image</label>
                                                <br><img src="{{ image.AssetPath2|imagine_filter('commandeThumb') }}" alt="">
                                            </div>
                                            {% endif %}
                                            {% if image.path3 %}
                                            <div class="col-sm-2">
                                                <label class="required">Troisième image</label>
                                                <br><img src="{{ image.AssetPath3|imagine_filter('commandeThumb') }}" alt="">
                                            </div>
                                            {% endif %}
                                            <div class="col-sm-2">
                                                <label class="required">Image top:</label>{% if image.top %} <span class="glyphicon glyphicon-remove"></span> {% else %} <span class="glyphicon glyphicon-ok"></span> {% endif %}
                                            </div>
                                        </li><br><br>
                                    {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                    <br>
                    <div class="box-border">
                        <ul>
                            <li class="row">
                                <div class="col-sm-5">
                                    <a href="{{ path('produit_pro_new_1') }}"><button class="button pull-left"><i class="fa fa-angle-double-left"></i>&nbsp; &nbsp; &nbsp;<span>Ajouter nouveau produit</span></button></a>
                                </div>                                
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-3">
                                    <a href="{{ path('produit_pro_index') }}"><button class="button alert-box"><i class="fa fa-check"></i>&nbsp; &nbsp; &nbsp;<span>Terminer</span></button></a>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        <aside class="right sidebar col-sm-3 col-xs-12">
            {% include 'FOSUserBundle:Profile:Navigation/menuPro.html.twig' %}
            <br><br>
            {% include 'FOSUserBundle:Profile:Navigation/informationsPro.html.twig' %}
        </aside>
        </div>
        
    </div>
</div>
</section>

