<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Aller à la page d'accueil" href="{{ path('kountac_homepage')}}">Home</a><span>&raquo;</span></li>
                    <li class="home"> <a title="Aller à mon profil professionnel" href="{{ path('pro_user_profile_show')}}">Mon profil</a><span>&raquo;</span></li>
                    <li class="home"> <a title="Voir tous mes produits" href="{{ path('produit_pro_index')}}">Mes produits</a><span>&raquo;</span></li>
                    <li class="home"> <a title="Ajouter un nouveau produit" href="{{ path('produit_pro_new_1')}}">Nouveau produit</a><span>&raquo;</span></li>
                    <li class="home"> <a title="Ajouter un nouveau motif" href="{{ path('produit_pro_new_2', { 'id' : produit_2.produit1.id }) }}">Nouveau motif</a><span>&raquo;</span></li>
                    <li class="home"> <a title="Ajouter des photos de mannequin" href="{{ path('produit_pro_new_3', { 'id' : produit_2.id }) }}">Ajout de mannequins</a><span>&raquo;</span></li>
                    <li><strong>Ajouter des tailles au produit {{ produit_2.produit1.nom|capitalize }} - {{ produit_2.libelle.libelle }}</strong></li>
                </ul>

                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert-box">
                        <br><br>
                        {{ flashMessage }}
                        <br><br>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End --> 
{% trans_default_domain 'FOSUserBundle' %}
<!-- Main Container -->
<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-12 col-xs-12">  
                <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                    <li> <a href="{{ path('produit_pro_new_edit1', { 'id' : produit_2.produit1.id }) }}"> Information générale </a> </li>                
                    <li><a href="{{ path('produit_pro_new_2', { 'id' : produit_2.produit1.id }) }}">Couleurs</a></li>
                    <li><a href="{{ path('produit_pro_new_3', { 'id' : produit_2.produit1.id }) }}">Photos mannequin</a> </li>
                    <li class="active"><a>Stocks par motif</a> </li>
                </ul>
                <br><br>
            </div>
            <div class="col-main col-sm-9 col-xs-12">
                <div class="page-content checkout-page">
                    <ul id="product-detail-tab" class="nav nav-tabs product-tabs btn-md">
                        {% for motif in produit_1.produit2 %}
                            {% if loop.first %}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-default btn-md active" href="#{{ motif.libelle }}" data-toggle="tab">&nbsp; {{ motif.libelle.libelle|capitalize }} &nbsp;</a> 
                            {% else %}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-default btn-md" href="#{{ motif.libelle }}" data-toggle="tab">&nbsp; {{ motif.libelle.libelle|capitalize }} &nbsp;</a> 
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div id="productTabContent" class="tab-content">
                        {% for motif in produit_1.produit2 %}
                            {% if loop.first %}
                                <div class="tab-pane fade in active" id="{{ motif.libelle }}">
                                    <div class="col-sm-8">
                                        <div class="box-border">
                                            {% render(controller('UtilisateursBundle:Formulaires:stocksTaillesForm', { 'id': motif.id })) %}
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="page-title">
                                            <h5 class="checkout-step">Aperçu des tailles et des stocks déjà sélectionnés</h5>
                                        </div>
                                        <table>
                                            {% for produit3 in produits_3 %}
                                                {% if produit3.produit2 == motif and produit3.taille == "34" %}
                                                    <tr>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>34</a></li>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-angle-double-right"></i><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>{% if produit3.stock is null %} 0 {% else %}{{ produit3.stock }}{% endif %}</a></li><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                {% if produit3.produit2 == motif and produit3.taille == "36" %}
                                                    <tr>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>36</a></li>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-angle-double-right"></i><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>{% if produit3.stock is null %} 0 {% else %}{{ produit3.stock }}{% endif %}</a></li><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                {% if produit3.produit2 == motif and produit3.taille == "38" %}
                                                    <tr>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>38</a></li>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-angle-double-right"></i><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>{% if produit3.stock is null %} 0 {% else %}{{ produit3.stock }}{% endif %}</a></li><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                {% if produit3.produit2 == motif and produit3.taille == "40" %}
                                                    <tr>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>40</a></li>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-angle-double-right"></i><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>{% if produit3.stock is null %} 0 {% else %}{{ produit3.stock }}{% endif %}</a></li><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                {% if produit3.produit2 == motif and produit3.taille == "42" %}
                                                    <tr>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>42</a></li>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-angle-double-right"></i><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>{% if produit3.stock is null %} 0 {% else %}{{ produit3.stock }}{% endif %}</a></li><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                {% if produit3.produit2 == motif and produit3.taille == "44" %}
                                                    <tr>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>44</a></li>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-angle-double-right"></i><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>{% if produit3.stock is null %} 0 {% else %}{{ produit3.stock }}{% endif %}</a></li><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                {% if produit3.produit2 == motif and produit3.taille == "46" %}
                                                    <tr>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>46</a></li>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-angle-double-right"></i><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>{% if produit3.stock is null %} 0 {% else %}{{ produit3.stock }}{% endif %}</a></li><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                {% if produit3.produit2 == motif and produit3.taille == "48" %}
                                                    <tr>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>48</a></li>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-angle-double-right"></i><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>{% if produit3.stock is null %} 0 {% else %}{{ produit3.stock }}{% endif %}</a></li><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                {% if produit3.produit2 == motif and produit3.taille == "50" %}
                                                    <tr>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>50</a></li>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-angle-double-right"></i><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>{% if produit3.stock is null %} 0 {% else %}{{ produit3.stock }}{% endif %}</a></li><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </table> 
                                    </div>
                                </div>
                            {% else %}
                                <div class="tab-pane fade" id="{{ motif.libelle }}">
                                    <div class="col-sm-8">
                                        <div class="box-border">
                                            {% render(controller('UtilisateursBundle:Formulaires:stocksTaillesForm', { 'id': motif.id })) %}
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="page-title">
                                            <h5 class="checkout-step">Aperçu des tailles et des stocks déjà sélectionnés</h5>
                                        </div>
                                        <table>
                                            {% for produit3 in produits_3 %}
                                                {% if produit3.produit2 == motif and produit3.taille == "34" %}
                                                    <tr>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>34</a></li>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-angle-double-right"></i><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>{% if produit3.stock is null %} 0 {% else %}{{ produit3.stock }}{% endif %}</a></li><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                {% if produit3.produit2 == motif and produit3.taille == "36" %}
                                                    <tr>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>36</a></li>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-angle-double-right"></i><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>{% if produit3.stock is null %} 0 {% else %}{{ produit3.stock }}{% endif %}</a></li><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                {% if produit3.produit2 == motif and produit3.taille == "38" %}
                                                    <tr>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>38</a></li>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-angle-double-right"></i><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>{% if produit3.stock is null %} 0 {% else %}{{ produit3.stock }}{% endif %}</a></li><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                {% if produit3.produit2 == motif and produit3.taille == "40" %}
                                                    <tr>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>40</a></li>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-angle-double-right"></i><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>{% if produit3.stock is null %} 0 {% else %}{{ produit3.stock }}{% endif %}</a></li><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                {% if produit3.produit2 == motif and produit3.taille == "42" %}
                                                    <tr>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>42</a></li>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-angle-double-right"></i><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>{% if produit3.stock is null %} 0 {% else %}{{ produit3.stock }}{% endif %}</a></li><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                {% if produit3.produit2 == motif and produit3.taille == "44" %}
                                                    <tr>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>44</a></li>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-angle-double-right"></i><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>{% if produit3.stock is null %} 0 {% else %}{{ produit3.stock }}{% endif %}</a></li><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                {% if produit3.produit2 == motif and produit3.taille == "46" %}
                                                    <tr>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>46</a></li>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-angle-double-right"></i><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>{% if produit3.stock is null %} 0 {% else %}{{ produit3.stock }}{% endif %}</a></li><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                {% if produit3.produit2 == motif and produit3.taille == "48" %}
                                                    <tr>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>48</a></li>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-angle-double-right"></i><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>{% if produit3.stock is null %} 0 {% else %}{{ produit3.stock }}{% endif %}</a></li><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                {% if produit3.produit2 == motif and produit3.taille == "50" %}
                                                    <tr>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>50</a></li>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-angle-double-right"></i><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-3">
                                                            <div class="size">
                                                                <ul>
                                                                    <li><a>{% if produit3.stock is null %} 0 {% else %}{{ produit3.stock }}{% endif %}</a></li><br><br>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </table> 
                                    </div>
                                </div>
                            {% endif %}   
                        {% endfor %}
                    </div>
                    <a href="{{ path('produit_pro_new_resume', { 'id' : produit_2.produit1.id }) }}">
                        <button class="button pull-right">
                            &nbsp;<span>Terminer</span>&nbsp; &nbsp;<i class="fa fa-angle-double-right"></i>
                        </button>
                    </a><br><br>
                </div>
            </div>
            <aside class="right sidebar col-sm-3 col-xs-12">
                {% include 'FOSUserBundle:Profile:Navigation/menuPro.html.twig' %}
                <br><br>
                {% include 'FOSUserBundle:Profile:Navigation/informationsPro.html.twig' %}
            </aside>
        </div>

    </div>
</div>
</section>

